[2015-04-23 10:25] thednp opened #3 ""change" event is not fired in any IE for button script"
Working on a solution via the provided "CustomEvent" polyfill.

[2015-04-25 09:58] thednp commented on #3
Fixed

https://github.com/thednp/bootstrap.native/commit/bea63dcb00eb55ad7a5b97eccae7d0dcfc31660e

[2015-04-25 09:58] #3 closed

[2015-05-15 20:18] IngwiePhoenix opened #5 "This thing rocks."
ref: https://github.com/tagawa/bootstrap-without-jquery/issues/43#issuecomment-102387101

Thanks for the heads-up. This is totally amazing and I can't believe this isn't part of upstream... xD At least, I am definitively going to dump jQuery and "the original" Bootstrap JS. It eats up too much JS anyway...

Also. Will you add bower and/or NPM support?

[2015-05-15 21:54] thednp commented on #5
Those things are out of my skill range, you can pull a PR anytime you see fit.

[2015-05-16 01:14] IngwiePhoenix commented on #5
Okay! Expect something in a few hours…this is too cool to let sit aside! :)

[2015-05-16 03:17] IngwiePhoenix commented on #5
Done!! Verififying and reviewing my changes and seeing if everything is right. Then i'll PR it to you! :)

[2015-05-16 03:44] IngwiePhoenix commented on #5
And, done.

[code]

Currently, the NPM package is in my account. If you made a NPM account, I can transfer the ownership to you so you dont depend on me in this one. For Bower, if you release a tag, it also becomes a version available via its package manager! Now, to send the PR itself.

[2015-05-16 10:49] thednp commented on #5
Please check PR comments :)

[2015-05-16 16:34] thednp commented on #5
PR Merged, thank you so much :)

[Details here](https://github.com/thednp/bootstrap.native/pull/6)

[2015-05-16 16:34] #5 closed

[2015-05-16 20:41] thednp commented on #5
I forgot to comment this, the trend is going fine for Native Javascript, the thing is, many more new developers enter the Javascript realm via jQuery.

[2015-06-22 23:09] iiegn opened #10 "navbar not working - android, mobile view"
on my android (4.1.2) phone with chrome 43.0.2357.78 (and also with the 'Internet' app) the navbar cannot be toggled, this means the menu items are not visible and navigating a site is impossible.

first experienced on my own site but it actually happens on http://thednp.github.io/bootstrap.native/, too.

 - only occurs on the actual device; inside the chrome developer tools things work just fine

[2015-06-23 10:48] thednp commented on #10
Hey, can you please do a test like this on your phone

[code]

I need to know if the click is triggered, or it's a CSS glitch.
Thanks for reporting.

[2015-08-03 00:11] andrewdavidcostello opened #11 "No default value set for options.backdrop && TypeError: this.init is not a function?"
1133TypeError: undefined is not an object (evaluating 'options.backdrop')

this.options.backdrop = options.backdrop === 'false' ? false : true;
this.options.keyboard = options.keyboard === 'false' ? false : true;
this.options.content = options.content;

It doesn't appear to have any default values set, is this intentional? I see it tries to populate these via the data attribute on load? (Maybe Vue

[2015-08-03 02:28] thednp commented on #11
Kinda, priority is the `data-` option.

[2015-08-07 14:26] andrewdavidcostello commented on #11
Hey,

Sorry for the late reply. Basically I have a modal in the DOM already (nothing special about it generic bootstrap 3 markup).

I am using browserify and assigning bootstrap.native to this.boostrap.

So as above:

var modal = this.bootstrap.modal(document.getElementById('#uploadModal'), {
backdrop: true,
});

Then I need to call:

modal.open();

But I was getting the error above, was there any

[2015-08-07 14:53] thednp commented on #11
You should do `new Modal(modal,options)` in order to work, in your setup maybe something like `new this.bootstrap.modal(modal,options)` which would mean that you do something called `invoke` yourself on your specific setup. Basically override the basic invoke via the `data` code shown here
https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js#L180-L186

[2015-08-09 20:12] andrewdavidcostello commented on #11
showModal: function() {
        var modal = new this.bootstrap.modal(this.$$.uploadModal, {
            backdrop: true,
        });
        modal.open();
}

Worked perfectly, thanks!

[2015-08-09 20:12] #11 closed

[2015-08-09 21:51] thednp commented on #11
Great :)

[2015-08-13 14:35] thednp commented on #10
Closing this until further notice.

[2015-08-13 14:35] #10 closed

[2015-08-20 11:29] andrewdavidcostello opened #12 "Nested Collapse Does Not Work"
When nesting a collapse it does not update the parent containers height so when opening the child collapse it cuts off the panel.

[2015-08-20 12:40] thednp commented on #12
Does the original jQuery version work with nested collapses?

[2015-08-21 01:02] thednp commented on #12
I confirm the original plugin does it. Still, feel free to fork and contribute with a fix.

[2015-08-21 01:02] #12 closed

[2015-09-11 16:45] WhiteTrashLord opened #13 "Different behaviour for responsive design"
Thanks for this. I like the idea of this project very much. I hope that I can use it more often in future.
Unfortunatley I found a little problem when I tested it with a smaller resolution.

In my case I see a scrollbar on Firefox and Chrome with Bootstrap v3.3.5 at the navbar.
With JQuery and the official JS code there is no scrollbar.

Maybe somebody can look into this?

The code looks like this

[2015-09-12 11:08] thednp commented on #13
There is no problem with that, it's what is supposed to do on smaller
resolutions to make the entire menu available.
OR
Are you saying that the scroll is there even if the menu is smaller size
than the screen height?

On Fri, Sep 11, 2015 at 7:45 PM, WhiteTrashLord <notifications@github.com>
wrote:

[2015-09-12 21:37] antoligy opened #14 "Cannot require through bower"
When attempting to require through Bower, I'm given the full minified file, meaning that I cannot use any of the functions it contains.

[2015-09-12 21:39] IngwiePhoenix commented on #14
We might want to tweak UglifyJS to not mangle the function names (Button, Dropdown, …).

[2015-09-13 16:32] #14 closed

[2015-09-14 14:32] WhiteTrashLord commented on #13
I cannot test with a real smartphone. I only test it on my desktop system by reducing the Browser window size.

But with the same resolution and conditions there is a difference. Bootstrap Native shows a scrollbar and hides some menu items. Normal Bootstrap shows all menu items and no scrollbar. I prefer the behaviour of the normal Bootstrap.

[2015-09-14 15:10] thednp commented on #13
What is the CSS version for your Bootstrap setup? I ask because bootstrap.native here is only about JS, has little to do with how it looks.

ALSO
Do you use a fixed navbar? Give me some details, I cannot guess or feel what your problem is.

[2015-09-14 15:57] thednp commented on #13
I cannot reproduce the issue. I tested in both Chrome and Firefox, both Windows and Linux.
You can reopen this with a link to your site. Please before you do so, make sure your HTML is valid.

[2015-09-15 21:19] WhiteTrashLord commented on #13
You can see it with this example:

http://getbootstrap.com/examples/navbar-static-top/

I can also make you some screenshots if necessary.

[2015-09-15 22:20] thednp commented on #13
Works for me, tested with Windows and Ubuntu Linux.

[2015-09-20 02:30] IngwiePhoenix opened #16 "Permanent popup (scripted)"
After roasting and smoking my brain for a good while, trying to implement this, I finally can't go any further.

I have a little color picker library that I'd like to utilize. For that to work nicely, I wanted to implement a "permanent" popover, that would not go away untill it was closed using it's `.close()` method, or `.toggle()`.

I can trigger the popup, but as soon as I have clicked, it clos

[2015-09-20 02:44] thednp commented on #16
The tooltips/modals get dismissed on any click event inside/outside the
trigger. We need to implement a prevention for that.

I think this would give you a clue.

On Sun, Sep 20, 2015 at 5:30 AM, Ingwie Phoenix <notifications@github.com>
wrote:

[2015-09-20 12:25] thednp commented on #16
How are you doing mate? I wanna talk to you about this and other stuff.

[2015-09-20 13:35] IngwiePhoenix commented on #16
Im doing good!
You can reach me through Skype (wlaningwie) or E-Mail (ingwie2000@gmail.com) :) So if you wish to chat some, feel free to contact me!
Oh and if both do not work, then you can also use this gitter: https://gitter.im/Deskshell-Core/PhoenixEngine?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

I am also still stuck on the color picker. I took some sleep and will see which even

[2015-09-20 13:45] thednp commented on #16
Sure thing. I already added you on Skype and waiting to talk to you. I edited your previous post for understandable privacy reasons.

[2015-09-20 13:50] IngwiePhoenix commented on #16
Alright. I accepted the request. shows you as offline atm though. Give me a poke when you wanna =)

[2015-09-20 20:29] thednp commented on #16
Implemented, see the lib folders.

[2015-09-20 20:29] #16 closed

[2015-09-20 22:18] thednp commented on #13
I think I got to this error myself, working on improving some code.
Can you try to provide more details?
- do you use polyfills? what exactly?
- does your desktop browser show any error in the console? (it does for me now)

[2015-09-20 23:39] thednp commented on #13
I think I fixed this one. The update is coming soon.

[2015-09-20 23:39] #13 closed

[2015-09-23 06:46] troyk opened #17 "easier building selected scripts"
This library looks awesome.  Not only do I want to drop the jQuery dependency, but I'd also like to drop a bunch of features I'm not going to use.

I'm not that familiar with gulp, but after a quick browse of the API it seems that if  `gulp.src('lib/*.js')` was changed to an array of the lib files it would make it easier for folks to fork and comment out unwanted components.   Would you be interes

[2015-09-23 08:33] IngwiePhoenix commented on #17
Looks like a case for me. :) I did the Gulpfile here.

I used the glob (`lib/*.js`) to easily catch all the components. But, what is your main concern? If you fork and only edit the file you want to edit, nothing else's gonna change.

[2015-09-23 11:24] thednp commented on #17
Well, thanks for the input. Unfortunately @IngwiePhoenix here is the only one who actually contributed for this feature and I would like to have more people involved in the discussion on this matter.

Of course for the best of us.

[2015-09-23 11:42] thednp commented on #17
Oh I see you already forked and improved the file, why don't you mane a PR, I will have Mr. @IngwiePhoenix here test it out.

[2015-09-23 13:04] osdlge opened #18 "Unable to use dynamically added elements to control things like modal or carousel"
When adding dynamic elements to a page they are unable to interact with elements they were already present. For example add this into scripts.js and refresh the index page

[code]
go to the bottom of the modal examples and click dynamic button

Expected results:
the modal myModal opens

Actual results:
Nothing happens

[2015-09-23 13:22] thednp commented on #18
The modal's click handlers currently don't support later added modals (modals added after domReady triggered). But I would solve your issue differently.

* Add this script in the `<body>` BEFORE the `bootstrap.native` script link and tell me how it goes.
* Also, don't use the `DOMContentLoaded` listener, it's already ready if you link scripts at the end of the `<body>`.

[2015-09-23 13:39] osdlge commented on #18
Looks like that will work, thanks!

[2015-09-23 13:42] thednp commented on #18
Alright, closing this down then.

[2015-09-23 13:42] #18 closed

[2015-09-23 20:07] troyk commented on #17
@thednp yup, I needed it last night so just did it incase you were interested.  I'll send the PR now, btw for my build last night I only included `alert, dropdown, popover, tab, tooltip` and ended up with a 13k file (so 1/3 the size) -- soooo super damn awesome to make a mobile landing page with 13k of js ;)  Thanks again for making this.

I think I'll take a quick look at modifying the sources vi

[2015-09-23 20:14] thednp commented on #17
Alright, so before you PR, please make sure to triple check everything works properly.

[2015-09-23 21:16] troyk commented on #17
@thednp quadruple checked, pull-request at #19

[2015-09-23 21:28] IngwiePhoenix commented on #17
@thednp Looked at #19 - looks solid. Added my little comment to it too. :)

[2015-09-23 21:32] thednp commented on #17
Alright now, closing it down. Thanks for the PR @troyk

[2015-09-23 21:32] #17 closed

[2015-09-23 23:55] osdlge opened #20 "Is it to programmatically display a modal?"
I forgot to mention in my last ticket but this project is awesome

I was wondering if it was possible to programmatically display a modal similar to how I can do $('#modalid).modal('show');

I use this to display nice looking messages if things like post events to insert data didn't work

I found one work around which is to have a hidden button that calls the modal and then call a click() event on

[2015-09-24 00:05] IngwiePhoenix commented on #20
Hey. Glad you like it!

Well the answer is kind of a yepnope. You can totally generate a Modal, but not the way you'd really expect it. I do it in my own project, but it is not as easy as ABC. I'll provide you a nudge in the right direction though.

What I did was use a templating engine (ejs) and generated a uuid as the id (i.e. `#m_0000-0000-0000-0000`). Then I created the containing modal div,

[2015-09-24 00:05] thednp commented on #20
You override how the script works by easily deleting the `data-toggle="modal"` attribute from your trigger then initialize as you wish.

[code]

The I think you should be able to do such, not sure, haven't tested

[code]

And so on.

[2015-09-24 00:06] IngwiePhoenix commented on #20
@thednp hah, beat you by 20sec! (:

[2015-09-24 00:07] thednp commented on #20
Check my solution first :P

[2015-09-24 00:12] IngwiePhoenix commented on #18
@thednp You could add a `.detect()` function that initializes things that weren't initialized yet. Just a random thought, really.

[2015-09-24 00:17] thednp commented on #18
Naa, no need :)

I prefer speed.

[2015-09-24 00:21] IngwiePhoenix commented on #18
Need for speed.
Huehuehue.
Alright then, was just an idea anyway. :)

[2015-09-24 12:57] osdlge commented on #20
@thednp's solution worked like a charm, thanks!

[2015-09-24 13:01] #20 closed

[2015-09-24 16:33] osdlge opened #21 "Carousel stops working if first item is not active"
Simple testcase to reproduce is to take the index.html file provided with the project
Go to line 91 and remove active from the classes
Go to line 101 and add active as a class

Refresh the page and you'll see that the second slide is active by default but you can't navigate anymore

[2015-09-24 16:35] thednp commented on #21
You must make it active by default.

[2015-09-24 16:35] #21 closed

[2015-10-04 23:09] HelloGravity opened #22 "Making the options parameter optional"
When creating an instance of a widget (for example a Modal), why isn't the options parameter optional?

This is my use case:
[code]
 (jsfiddle: http://jsfiddle.net/0w8s27a5/)

my suggestion is to have something like this in each of the constructor functions:
[code]

[2015-10-04 23:24] thednp commented on #22
Thanks for the input. I don't know if that's gonna affect the current DATA API or not, but you can try, test and submit a PR, I will have a look at it as soon as I can.

I also intend to fix some issues with IE8 very soon, so stay close.

[2015-10-05 10:39] HelloGravity opened #24 "dist/ is not up to date."
When building the library with gulp, I noticed there is a difference between the code in lib/ and in dist/ in the repository, and it is in the behavior of collapse:
in lib/ - https://github.com/thednp/bootstrap.native/blob/ddd5d7b/lib/collapse-native.js#L120-L124
in dist/ -https://github.com/thednp/bootstrap.native/blob/ddd5d7b/dist/bootstrap-native.js#L783-L785

[2015-10-05 11:46] thednp commented on #24
Thanks, will check that too.

[2015-10-05 11:57] thednp commented on #24
This change is due to the plans to remove `resize` handlers for IE8. I will update that ASAP.

[2015-10-09 14:11] thednp commented on #24
I'm now gonna check this too, and closing this down.

[2015-10-09 14:11] #24 closed

[2015-10-09 14:12] thednp commented on #24
Please tell me, is this the only difference you found?

[2015-10-09 14:13] thednp commented on #22
Thanks for the PR. Now gonna go ahead and run local tests and improvements.

[2015-10-09 14:13] #22 closed

[2015-10-09 14:52] HelloGravity commented on #24
Yes, this was the only code difference. There were also differences in comments.
But now it will also differ because of #23

[2015-10-10 22:13] thednp opened #25 "[Poll] do you think we should remove Carousel CustomEvents for lesser polyfill dependency?"
I am currently trying to figure out how to make the scripts less dependent of polyfill dependency for IE8-11 and I am thinking I should remove the `slid` and `slide` custom events as they don't work with IE9+ at all.

What do you think?

[2015-10-13 20:17] thednp commented on #25
I will change how it works, it's gonna check if `'Custom' in window` so that the script will only run if polyfills are used or nativelly supported.

[2015-10-13 20:17] #25 closed

[2015-10-15 18:06] thednp commented on #13
Check out the new version, this issue is fixed as well.

[2015-10-17 21:52] ChisholmKyle opened #26 "small fix for nav collapse height"
The `getMaxHeight`Collapse method on line 810 of the source javascript only finds the height of the first child element of collapsible nav container with class `navbar-collapse`. However, there may be more than one child, especially for right-aligned navigation items (The [bootstrap example](http://getbootstrap.com/components/#navbar-default) default navbar has 3 children). This breaks functionali

[2015-10-17 22:09] thednp commented on #26
Can you show me a demo with and without the fix please? I would gladly apply the fix in no time :)

[2015-10-17 23:59] ChisholmKyle commented on #26
I just uploaded two examples - one broken and one fixed:
[Broken CDN version](http://kylechisholm.ca/dev/bsnativeissue/nav-broken.html)
[Fixed latest downloaded version](http://kylechisholm.ca/dev/bsnativeissue/nav-fixed.html)

[2015-10-18 00:36] thednp commented on #26
Thanks so much. I'll have a look at this asap.
Meanwhile, you can do a PR if you like.

[2015-10-18 17:48] #26 closed

[2015-10-31 06:57] thednp opened #29 "[BUG] issues and improvements for modal"
Issues:
* need to implement a better addClass / removeClass, as currently we are adding 10+ `open-modal` classes to the body
* the body need a padding right/left when `modal-open`, just like the new version of the original plugin
* also modal seems to have an overflow issue, we might need to rework the HTML structure
* I'll try to rework this one https://github.com/thednp/bootstrap.native/issues/3

[2015-11-02 17:45] osdlge commented on #29
would you also be able to add similar support to bootstraps data-keyboard and data-backdrop http://getbootstrap.com/javascript/#modals-options ? Currently you can keep the modal visible if the user clicks outside of it but the backdrop disappears. Also it'd be nice to prevent the escape key from closing the modal but only for specific dialogs

[2015-11-02 19:01] thednp commented on #29
We already support [those options](https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js#L182-L183). I mean I don't understand perfect what you mean.. are you using multiple opened modals at the same time?

[2015-11-02 20:05] osdlge commented on #29
They don't really work, or I am doing something wrong. Here is a super simple testcase
Edit line 228 on the provided index.html file
https://github.com/thednp/bootstrap.native/blob/master/index.html#L228
Change it to be
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

Click the "Launch

[2015-11-02 20:05] osdlge commented on #29
Sorry HTML got stripped out
div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"

is what you change it to

[2015-11-02 22:53] thednp commented on #29
If you change the `data-backdrop` or `data-keyboard` after Modal was initialized would produce no effect. I should have shown a demo where they showcase these options I guess.

[2015-11-02 23:42] osdlge commented on #29
Not sure I follow, I'm not changing the values after initializing, I'm just adding them to the example modal on the demo page. The keyboard one is partially taking effect because the modal stays but the backdrop disappears when pressing escape

[2015-11-03 05:41] thednp commented on #29
So you downloaded the demo, edited the `index.html` file with these options on the modal example and you spotted the issue? Please, what is your OS and browser?

[2015-11-03 13:44] osdlge commented on #29
Correct I downloaded a zip from github, extracted the files to a new directory, made the one change to index.html on line 228 to add data-backdrop="static" and data-keyboard="false", saved, then opened index.html and clicked on launch simple modal. When I click outside of the modal it disappears which is not what data-backdrop="static" does for bootstrap. When I click escape on my keyboard the mod

[2015-11-03 14:07] thednp commented on #29
I don't have much time to test (I know if I start testing I usually start working on it and thus takes even more time), so I noted here a little to do for the next release. I also noted your report, so thank you, I will solve the issue asap.

[2015-11-07 15:03] HelloGravity opened #30 "Overlay disappears when starting a modal from another modal"
Here is a jsfiddle that demonstrates the bug: http://jsfiddle.net/dmt0z2rx/
With jQuery and bootstrap's original javascript it works: http://jsfiddle.net/qkc6bLha/
The bug happens because when the first modal closes, it removes the overlay after a short delay, and the second modal uses that same overlay element, which gets removed.
I fixed the bug in my fork by using a separate overlay element for

[2015-11-07 16:00] thednp commented on #30
Thanks for reporting. I think creating multiple overlays is not the best solution, so I'm gonna investigate this issue and fix it.

[2015-11-07 16:29] HelloGravity commented on #30
I think that not using multiple overlays will not be a good solution. Here is the same example from before with bootstrap's original javascript, but without closing the first modal before opening the second: http://jsfiddle.net/sev5ux8g/ - they use 2 overlays for it, and it makes the background even darker. This won't happen with only one overlay.

[2015-11-07 17:15] thednp commented on #30
That's why I'm saying, no multiple overlays, but only one and properly used.

On Sat, Nov 7, 2015 at 6:29 PM, Yaron <notifications@github.com> wrote:

[2015-11-07 17:20] HelloGravity commented on #30
I think that a darker background is better, since it emphasizes that a modal was added.
Isn't this project about providing the same functionality as the original bootstrap js?
I think that it shouldn't changes the behavior from what was intended in bootstrap.

[2015-11-07 18:15] thednp commented on #30
The project is about making it lighter and if possible, better.

On Sat, Nov 7, 2015 at 7:20 PM, Yaron <notifications@github.com> wrote:

[2015-11-08 10:53] thednp commented on #30
OK back to my PC. Here's the plan:
* on init, the Modal will create a backdrop to be used for all instances and it will check `if (backdrop !== null) {}` before that
* all Modal instances will access this backdrop and the script makes sure to properly handle events

[2015-11-09 17:48] thednp commented on #30
The thing that came to my mind is, why doing use nested modals? That's bad design practice to me.

[2015-11-09 18:45] osdlge commented on #30
I can think of a few use cases where modals on top of modals is not only valid but good design practices. For example if you have a dashboard that shows you aggregated numbers in a summary view. You can then click on any of those numbers to see things in more detail. Let's say that detail view opens up in a modal

From the detail view let's also say that you are viewing orders for an order managem

[2015-11-09 19:02] thednp commented on #30
@osdlge in that case, the best would be to update the modal content/template, maybe some collapses or perhaps tabs.

[2015-11-09 19:42] HelloGravity commented on #30
I found this project when looking for a way to use bootstrap without
jquery, since it is heavy and I don't use it.

My original code and design had a modal with options for the user to choose
from, and the modal disappeared after receiving the user's choice, and if
an error occures another modal would popup asking the user what to do about
it. I did not want 2 modals stacked, I wanted a modal to r

[2015-11-09 20:18] osdlge commented on #30
@thednp that kind of defeats the purpose of having a smooth UI, I use a modal to display a much smaller popup on the current modal with a nice look and feel to give the user access to just the small set of data they want to see. Switching the users context wouldn't be as clean or efficient as having them close the modal to be back to where they left off

[2015-11-09 20:48] thednp commented on #30
@osdlge you can create a custom handler to your modals' trigger buttons and content in a way that you don't have to create nested modals. Here's how I would write it:
[code]
<small>Note that this code is not tested, will not work on the fly, it's just to give you an idea.</small>

@HelloGravity in most cases (I mean for the most people and their most projects) there is no need for the exact same b

[2015-11-09 20:48] thednp commented on #30
Oops closed by mistake.

[2015-11-11 13:18] thednp commented on #30
QUESTION:

Do you want me to write a tutorial in the demo documentation on how to toggle modal content instead of using nested modals?

Let me know what you think, when I get some time I'll get to fixing the issues and update the doc.

[2015-11-11 13:31] osdlge commented on #30
If you could do up a quick example I think that would help, I'm having a hard time trying to figure out the pseudo code you provided in https://github.com/thednp/bootstrap.native/issues/30#issuecomment-155188444

[2015-11-11 14:31] thednp commented on #30
Alright, then rest assured, within a few days, I think I will get to it, you can work on something else meanwhile.

[2015-12-02 17:18] thednp commented on #30
Sorry I didn't have the time to stick to the issue, having other stuff to do, still, have you managed to figure it out? Meanwhile, I'll try to fix the current issues.

[2015-12-02 17:34] thednp commented on #30
I will try to work on the issue as @HelloGravity put it, I think his point worth taking into account and his example is another idea of what I was thinking for you @osdlge, I will let you guys know asap, ok?

[2015-12-02 18:37] thednp commented on #30
@HelloGravity please check my form here, this should fix your issue.
http://jsfiddle.net/kjvrghmz/

[2015-12-02 18:55] thednp commented on #29
@osdlge I think your issue is a content related issue, I cannot reproduce the issue at all.

[2015-12-02 19:27] osdlge commented on #29
So when you enable data-backdrop="static" and press the esc key on the modal the backdrop and modal stay in place? The only change I made was to the provided sample and adding data-backdrop="static" data-keyboard="false" tabindex="-1"

[2015-12-02 19:37] thednp commented on #29
Modal currently doesn't know what `data-backdrop="static"` is. Only the options and their values that you see in the demo.

[2015-12-03 17:13] thednp commented on #30
Fixed in https://github.com/thednp/bootstrap.native/commit/7985fae26d9eb692ce38aff4ab416bdfddbc51aa

[2015-12-03 17:13] #30 closed

[2015-12-03 17:17] thednp commented on #29
Done the rework https://github.com/thednp/bootstrap.native/commit/7985fae26d9eb692ce38aff4ab416bdfddbc51aa

[2015-12-03 17:17] #29 closed

[2015-12-03 19:01] thednp commented on #26
I changed how collapse works, it should work better for navbar as well. Please test and let me know.

Cheers.

[2015-12-03 21:29] thednp commented on #30
@HelloGravity  an even better example for you, now with latest version from CDN

http://jsfiddle.net/pzmk50tf/

[2015-12-09 11:05] neothemachine opened #33 "Case is wrong for requirejs use"
In the readme all the names are starting upper case, but they are actually lower case. bsm.modal vs bsm.Modal. Doesn't make sense to me that this is different from the global variables case. Apart from that, in the global case, why aren't all the classes under a single namespace? It seems wrong littering the window objects with all those generic sounding classes like Button for example.

[2015-12-09 11:18] neothemachine commented on #20
Modal.open() is not documented here. Would be good to add that since the original bootstrap also allows to open modals programmatically.

[2015-12-09 11:34] thednp commented on #20
Thanks for the suggestion.

[2015-12-09 11:36] thednp commented on #33
That's @IngwiePhoenix work right there, probably he would have a look at it asap, or, if you happen to know how to fix, you two can do a commit whenever you please.

[2015-12-09 21:10] IngwiePhoenix commented on #33
Hey.

I just looked into it and spotted the black sheep; `all.js`. Sorry for that one! I'll actually hotfix this ASAP (i'm really sleepy and more error-y right now...).

Regarding the export to the global window, we could consider changing a line like

[code]

Into

[code]

Advantages:
- Backwards compatibility to scripts not using module loaders.
- Bootstrap Native is namespaced, but the componen

[2015-12-09 23:37] thednp commented on #33
I think you're cool :)

[2015-12-10 04:03] cvrebert opened #34 "Alleged bug in the original Alert plugin"
FWICT, the original plugin handles this fine, making this claim inaccurate. Do you have a counterexample?

[2015-12-10 10:07] thednp commented on #34
At the time the script was developed, I tried to work with the original plugin code and I wasn't sure that could handle later added alerts, so I came with the idea to make possible this feature.

So if you confirm it's not the case, I'll update the demo, no problem.

[2015-12-10 10:07] #34 closed

[2015-12-10 10:11] cvrebert commented on #34
Thanks.

[2015-12-17 16:02] nim opened #35 "Not work anything!"
Here is sample dropdown and modal dialogs. It's all not working.
[code]

[2015-12-17 16:04] IngwiePhoenix commented on #35
The first listing does not seem to properly define a HEAD section, nor a BODY section of the HTML document. Are you properly writing these?

You can use your browsers JavaScript debugger to see if it is showing any errors.

[2015-12-17 16:13] nim commented on #35
It's a comment problem.

See console screen http://joxi.ru/bmoxWJbSMMjYP2

[2015-12-17 17:03] IngwiePhoenix commented on #35
Does the output update when you try to trigger the modal or dropdown?

[2015-12-17 17:16] nim commented on #35
If script definition paste before body close tag, all work. But dynamical generated dropdowns and other have some problems.
'''
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.native/0.9.9/bootstrap-native.min.js" charset="utf-8"></script>
'''

[2015-12-17 17:21] IngwiePhoenix commented on #35
In order to use dynamically created Dropdowns, you have to instantiate a dropdown instance,c ontaining the element containing it. There should be a note about that usage either in the source or the docs.

If you look at the source for each component, pay attention to the bottom part. You can see its "initialization" there.

As you noticed, if the script is "after" the dropdown, itll work. That is,

[2015-12-17 17:27] nim commented on #35
There documentation how i can init "by hand". ? :)

[2015-12-17 18:33] thednp commented on #35
You must link the `bootstrap.native.js` at the end of your `&lt;body>.

[2015-12-17 18:33] #35 closed

[2015-12-17 22:22] nim commented on #35
No work see example

[code]

[2015-12-18 03:33] thednp commented on #35
I've edited your post, check it out.

[2015-12-18 12:12] nim commented on #35
Dynamically created DropDown stil not work. It seems that your script can not be used for dynamically created controls. I want to understand whether it is possible to control init after creating? You should close a task that he is still not resolved. Putting the script in the bottom of the page is very bad style. And all this is the same problem

[2015-12-18 12:40] thednp commented on #35
The script obviously doesn't handle dynamically created dropdowns, that's only working for Alert component. After you create the component, you need to initiate the js like so:

[code]

[2015-12-18 13:37] nim commented on #35
Problem solved thanks. This method of initialization is not very useful when dealing with systems of generation control like angular.

[2015-12-18 18:47] thednp commented on #35
It's Javascript after all, there is nothing else to expect from it.

[2015-12-18 20:30] nim commented on #35
It's true. Thanks again for your help.

[2015-12-23 18:22] thednp commented on #33
@IngwiePhoenix do you think we should close this?

[2015-12-23 22:32] IngwiePhoenix commented on #33
Yes. I just woke up, so I can now work on this - which was my plan. I have a few patches to write for other things, so its patchday today :)

[2015-12-26 06:56] IngwiePhoenix commented on #33
#36 has landed. I'll implement the global `bsn` namespace later. ^^

[2015-12-26 14:55] #33 closed

[2016-01-10 07:14] dgt41 opened #37 "Are there any plans for v4?"

[2016-01-10 08:38] thednp commented on #37
Hey there, yes there are some, but will leave v4 for later, when we have it stable I think, but as far as I know, it should work, I mean I see no reason why they won't work as is now.

Have you tried it?

[2016-01-10 21:07] dgt41 commented on #37
Hi and thanks for sharing your hard work with us! Honestly I haven't found some spare time to actually play with the alpha, but I'll try to test run it this week and I will come up with some actual results

[2016-01-12 19:03] #37 closed

[2016-01-19 17:05] danrichman opened #39 "'npm install' is pulling old version"
Looks like the latest release is 1.0.0. but `npm install bootstrap.native` seems to be pulling [0.9.7-npmfix.1](https://www.npmjs.com/package/bootstrap.native).

[2016-01-19 17:11] IngwiePhoenix commented on #39
Looks like I slept in... (: Publishing now. Thanks for the info!

[2016-01-19 17:17] thednp commented on #39
Thanks for the report and fix :)

[2016-01-19 17:17] #39 closed

[2016-01-22 15:18] iiegn commented on #10
for all intents and purposes, this seems to have been solved.
tried with
 * android 5.1.1 and chrome 47.0.2526.83
 * android 4.2.2 and native browser app
on http://thednp.github.io/bootstrap.native/
(sorry, for not getting back earlier)

[2016-01-22 15:28] thednp commented on #10
Thanks for the heads up.

[2016-01-29 00:08] neothemachine opened #42 "Release with tab dropdown fix"
I just stumbled over the issue fixed in https://github.com/thednp/bootstrap.native/commit/35622a0ff3a0ea161f89c2a6921126256addb3b6 and I cannot use the library because of that. Is it possible to do a hot fix release 1.0.1? Would appreciate that a lot. Thanks! :)

[2016-01-29 00:21] IngwiePhoenix commented on #42
@thednp Did you patch package.json yet? if so ill do a npm publish. ^^

[2016-01-29 01:06] thednp commented on #42
@IngwiePhoenix does it use the lib files or the dist files? I don't quite remember. If so, I'll do an update to the json file for patch 1.0.1.

[2016-01-29 01:10] IngwiePhoenix commented on #42
@thednp I use the libfiles in the require-calls.

[2016-01-29 01:17] thednp commented on #42
Alright, you can push the 1.0.1 I think.

[2016-01-29 01:17] #42 closed

[2016-01-29 01:24] IngwiePhoenix commented on #42
Done.

[2016-01-29 09:11] neothemachine commented on #42
Thanks guys, that was quick! Don't forget the git tag.

[2016-01-29 12:32] thednp commented on #42
@neothemachine
What do you men with git tag? Are you referring to 1.0.1 release?

[2016-01-29 12:33] neothemachine commented on #42
Yep, creating a 1.0.1 tag in git.

[2016-01-29 13:36] thednp commented on #42
@neothemachine
Read here https://github.com/thednp/bootstrap.native/releases/tag/1.0.1

also the 1.0.1 CDN will be available within a few hours.

[2016-02-25 19:02] warreb1 opened #43 "Modal init from javascript"
Is there a way to launch the modals dynamically (not with data attributes) (eg: $('.modal').modal();) but in Vanilla JS? I couldn't find anything about it.

[2016-02-25 19:04] IngwiePhoenix commented on #43
Sure can o.o

https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js#L24

[2016-02-25 19:09] warreb1 commented on #43
I'm not a rockstar in Vanilla JS yet. :( Care to show me how to launch it exactly?

[2016-02-25 19:53] thednp commented on #43
Actually it's this way
https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js#L287

[2016-02-25 19:53] #43 closed

[2016-03-02 13:07] warreb1 opened #44 "Close dropdowns on escape / click outside"
Is there a way to close the dropdown when clicking anywhere/pressing escape?

[2016-03-02 13:27] thednp commented on #44
It already closes on focus out, but not on `ESC` key.

[2016-03-02 13:39] warreb1 commented on #44
Hmm. It doesn't over here -> http://sendvid.com/kyizc0dk
Any idea on this matter? It's a standard implementation.

`<li class="blocks__block__actions-listitem dropdown">
				<button type="button" class="button button--border button--white button--icon button--small button--round" id="add-to-a-trip-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-plus"></

[2016-03-02 13:46] thednp commented on #44
Make sure the `data-toggle="dropdown"` element is not targeted by other function as in my demo there is no such issue.

[2016-03-14 14:15] warreb1 commented on #44
In Chrome it works indeed, but not in Safari nor Firefox (doesn't work in the demo ether).

[2016-03-14 14:32] thednp commented on #44
I confirm the issue on Safari (Win). I will have a look asap.

[2016-03-14 14:37] thednp commented on #44
Since I am not able to test on Safari please help me fix it:
* Create a local copy of the demo,
* only add the `dropdown.js` file to the demo
* change [this line](https://github.com/thednp/bootstrap.native/blob/master/lib/dropdown-native.js#L39) to this
[code]

Let me know if that fixes the issue on both Safari and Firefox.
Thank you

[2016-03-14 14:42] warreb1 commented on #44
Sadly no. The close function is not fired in Safari or Firefox.

[2016-03-14 15:19] thednp commented on #44
OK, I'll look into it ASAP.

[2016-03-16 22:05] thednp commented on #44
Please have  little time and test all plugins and report back any issue you can find on you MAC, I really want to solve all of the issues.

[2016-03-16 22:09] warreb1 commented on #44
Very well. I'll go over everything during the weekend.

[2016-03-16 22:11] thednp commented on #44
Thanks so much.

[2016-03-21 16:22] warreb1 opened #45 "Accordion - slidedown animation issue Safari (mac)"
(only safari issue)

Slidedown animation is not working properly
See video: http://recordit.co/K1MDbKaIlS (fps is pretty low tho, but it explains the issue properly). THe animation pops over the content in one frame. This only happens on Safari (mac).

[2016-03-21 16:23] warreb1 opened #46 "Tooltip & popover not shown on focus"
The tooltips & popovers only work on hover, not on focus. In terms of usability this should be something that needs to be added.

[2016-03-21 16:25] warreb1 opened #47 "Alert - JS generated alert cannot be dismissed"
Maybe just an issue in the demo but the javascript generated alert cannot be closed.

-> http://recordit.co/JEfaO1TM04

[2016-03-21 16:27] thednp commented on #47
That's not an issue, I changed that close button's function to not close it, the alert content explain that.

[2016-03-21 16:27] #47 closed

[2016-03-21 16:28] warreb1 commented on #44
In the Tab section the first dropdown cannot be closed in Safari (Mac), yet the second dropdown (in the changing content) can be closed when clicking outside of it. So it works over there tho, but nowhere else.

[2016-03-21 16:29] thednp commented on #46
Please also paste some console errors if any.

Thank you so much.

[2016-03-21 16:31] thednp commented on #44
I opened Safari 5.1 for Win and I can see

`ReferenceError: Can't find variable: Window` which means the `Window` polyfil is missing, I think this must be the cause in my computer, but not sure about yours.

Please also report any error in your log

[2016-03-21 16:32] warreb1 commented on #46
Will do, but there aren't any. I think the effect just needs to be applied too on the "focus" event.

[2016-03-21 16:34] warreb1 commented on #44
I don't get any error, but if the window polyfill isn't working, that might be the cause indeed.

[2016-03-21 16:36] warreb1 commented on #45
[video.zip](https://github.com/thednp/bootstrap.native/files/182706/video.zip)
Better quality video.

[2016-03-21 16:39] thednp commented on #44
I see, perhaps your Safari version is latest and there is no error anyway.

[2016-03-21 16:39] thednp commented on #45
Confirmed.

[2016-03-24 17:48] thednp commented on #44
Please check if the dropdowns in the [right side](http://thednp.github.io/bootstrap.native/#exampleDropdown) also don't close on clicking outside.

[2016-03-24 18:45] thednp commented on #46
This one is fixed. Closing it down :)

[2016-03-24 18:45] #46 closed

[2016-03-24 18:49] warreb1 commented on #44
Yes, both the one with the label "pill" and the label "dropdown" on the right close on clicking outside.

[2016-03-24 18:55] thednp commented on #44
Good, in that case I have to check original plugins, perhaps there is something I missed with HTML specific attributes in the demo.

[2016-03-24 19:39] thednp commented on #44
**Update**: I think this must be due to the fact that not all elements support `blur` and `focusout`, as the first 2 examples in the left side are both of type `<button>` and they may not support those types of events or the events have been implemented incomplete into the Safari browser.
[Check this for a reference](http://www.quirksmode.org/dom/events/blurfocus.html). I'll see if I can find a fi

[2016-03-24 20:29] thednp commented on #44
**Final Update**
The issue is completely busted. I also implemented `Esc` dismiss.

[2016-03-24 20:29] #44 closed

[2016-03-24 21:47] thednp commented on #45
This one is a pretty nasty one, I didn't expect Safari to be so out of game.

[2016-03-25 00:35] thednp commented on #45
Please try this:
* find the CSS I recommended for `.collapse`
* comment out the `-webkit-transition: height .3s ease-out`
* try and let me know

If this fixes the issue, I will write a note into the documentation on this Safari bug: it seems Safari is just trying to apply both un-preffixed and preffixed `transition` driven height animation at the same time.

[2016-03-25 06:04] crcastle opened #48 "Dropdowns don't close on Safari"
In Safari, the dropdown menu stays open
1) after clicking an item and
2) on clicking outside of the dropdown menu

You can test it here http://thednp.github.io/bootstrap.native/#exampleDropdown

In Chrome, the dropdown closes in these two scenarios which I'm guessing is the expected behavior?

p.s. thanks for this.  nice to be able to use some simple bootstrap elements without having to add jQuery

[2016-03-25 06:08] crcastle commented on #48
Just saw that the most recent commit 36bf934864dc7a9a70bc459820297ecdeca1cd92 may have fixed this.  Apologies and please close if so.

[2016-03-25 09:13] thednp commented on #48
It's ok, please also [test this](https://github.com/thednp/bootstrap.native/issues/45).

[2016-03-25 10:29] warreb1 commented on #44
Busted in terms of "it works now"? I tried the demo but still the same.. (esc doesn't work ether) or is the demo not updated yet?

The Esc dismiss is not triggered on chrome ether.

[2016-03-25 10:41] thednp commented on #44
Yes, the demo is not yet updated, I only committed to the master so far, once I finish updating the doc. Please download files from master repo and test them on your device.

[2016-03-25 11:25] thednp commented on #45
Ok I updated demo, please check now, and see updated documentation regarding additional styling.

[2016-03-25 11:25] #45 closed

[2016-03-25 11:26] thednp commented on #48
I updated demo and code, preparing for 1.0.2 release now.

[2016-03-25 11:26] #48 closed

[2016-03-25 11:35] thednp commented on #44
Please check demo and the updated doc.

[2016-03-25 12:05] warreb1 commented on #44
Alright works perfectly! GJ man!

[2016-03-25 13:17] thednp commented on #44
Alrighty, CDN updated, soon npm as well.

[2016-03-25 22:15] crcastle commented on #48
Thanks!  1.0.2 fixes the issue without having to apply [this](https://github.com/thednp/bootstrap.native/issues/45#issuecomment-201085407) CSS fix.

[2016-03-26 11:54] thednp commented on #48
@crcastle the issue depends very much on the Safari version, I've updated demo/doc with a quick note about that. As an example Safari 5.1.7 for Windows doesn't work with both the prefixed `-webkit-transition` and `transition`. Other MAC OS versions sporting older versions of Safari could be in the same situation.

[2016-03-26 23:01] XhmikosR opened #49 "Contact author"
Hi, there.

I'm personally very interested in backporting this.

I'm willing to help back porting this to v4.

Can you contact me via email if you are interested?

[2016-03-26 23:11] thednp commented on #49
Hi. If you're talking about [this v4](http://v4-alpha.getbootstrap.com/), I'm also interested, I actually consider developing a v4 version, but realistically I would like to see v4 stable first so I'm planning on it.

[2016-03-26 23:35] XhmikosR commented on #49
Can you contact via email (see my profile)?

To be honest I personally dislike the ES6 change and I doubt that will
change. If we are going to do it I guess I will have to read more about it.
:)
On Mar 27, 2016 01:11, "thednp" <notifications@github.com> wrote:

[2016-03-26 23:44] thednp commented on #49
Frankly instead of working with v4 I would rather make v3 greater than already is, [here's](http://getfuelux.com/javascript.html) what I have in mind.

[2016-03-28 11:42] #49 closed

[2016-03-29 12:10] warreb1 opened #52 "Close current modal and open new one"
I came across the following issue. In Bootstrap it's possible to close a modal window and open up the next one triggered by the html data attributes. It however doesn't seem to work in bootstrap.native. Since it's quite an important item (used in login modal -> forgot your pasword modal)

I made a working version in codepen with the default bootstrap, so you get the idea. http://codepen.io/studiot

[2016-03-29 12:39] thednp commented on #52
This has been [reported before](https://github.com/thednp/bootstrap.native/issues/30) and I haven't got convinced this should be implemented. But if you read the previous issue to the end you'll find a good way to [work around this](http://jsfiddle.net/pzmk50tf/).

[2016-03-30 09:46] thednp commented on #52
Thinking about it a bit, shit should be easy to implement. I will have a look asap.

[2016-03-30 14:09] warreb1 opened #53 "Event bubbling on dropdowns"
Since the last update the event bubbling on dropdown buttons broke. Possible to take a look at that?

[2016-03-30 14:11] thednp commented on #53
Can you write a guide with steps to replicate please?

[2016-03-30 14:30] warreb1 commented on #53
http://codepen.io/studiotwist/pen/VazXez

Here you go. It's a copy paste of my code so might not be super clear in terms of html classes but you'll get the idea. If you click on the border of the button it works, if you click on the image it doesn't.

[2016-03-30 14:45] thednp commented on #53
If you delete the `<div>` wrapper around the image should work. Try to use dropdown only for dropdowns where the event trigger is only one level deeper from `data-toggle="dropdown"` element, the latest fix should handle that.

[2016-03-30 14:45] #53 closed

[2016-03-30 18:08] warreb1 commented on #53
I honestly think something is up with the event bubbling in general. I just tried to initiate a modal from an anchor. On the a text it works, but not on the <span> within.

-> http://codepen.io/studiotwist/pen/VazXez

[2016-03-30 18:21] thednp commented on #53
There is no problem anyway. The only thing is: the event handlers are only bound to the specific triggers: `data-toggle="modal"` or `data-toggle="dropdown"` and in some cases ONLY THE FIRST child element (dropdown, button and carousel if I remember correctly).

You can try to add same specific attributes from the trigger to the last level element and check again.

[2016-03-30 18:25] warreb1 commented on #53
I know when I add it to the last level element (spans in this case) that it works, but it should work on all it's children in any case no? In the regular bootstrap js it certainly does.

[2016-03-30 18:50] thednp commented on #53
If it works with jQuery, use jQuery, I don't find it useful to look for all
elements and I think I gave you a good solution already.

On Wed, Mar 30, 2016 at 9:25 PM, Warre Buysse <notifications@github.com>
wrote:

[2016-03-30 20:53] warreb1 commented on #53
Well it's clear that you don't want to give it a look that's for sure. In a huge amount of cases the trigger needs to be on the parent + all it's children elements (eg: a button with an image and a label for a profile picture change). If you put the data-toggle="dropdown" on the parent + children elements the dropdown simply opens and closes again because it's triggered twice. -> long story short

[2016-03-31 09:17] thednp commented on #52
Update: I found a quick solution for this, [please check this demo](http://jsfiddle.net/pzmk50tf/1/).

[2016-03-31 09:26] #52 closed

[2016-03-31 09:27] thednp commented on #30
I've implemented [into the code](https://github.com/thednp/bootstrap.native/commit/ea0c506fff076135a9ec4f5ab02bed4cf5e9b2e0). See [example](http://jsfiddle.net/pzmk50tf/1/).

[2016-03-31 11:35] osdlge commented on #30
@thednp can you take a look at this example:
http://jsfiddle.net/pzmk50tf/2/

This is what I am using locally and I prefer how it works because it allows modal stacking

[2016-03-31 12:27] thednp commented on #30
@osdlge you should check the latest code in the master repo, see the new updated [demo here](http://jsfiddle.net/pzmk50tf/3/).

[2016-03-31 13:14] osdlge commented on #30
@thednp your demo is the one I modified with my changes. My challenge is I don't want the initial modal to close

Imagine if the first modal was a listing of all orders for a specific customer. It was just a table with columns like
order id cost shipment date shipping company (etc etc)

clicking on any order id would open a second modal showing the products associated with that order

It doesn't m

[2016-03-31 13:20] thednp commented on #30
Yes, some other user pointed out that the original plugin does what my script currently does and didn't before this last commit, so I think you need a fork for your need as well.

[2016-03-31 13:23] osdlge commented on #30
I can definitely fork and submit a PR if you'd accept it. From my own experiences I think this is a better  convention but I can see your side of it as well

[2016-03-31 13:31] thednp commented on #30
Don't get me wrong: fork it and solve your issue, I seem to have to stick to the original plugin functionality for now.

As a side note: I wish the script to be light, usable and performance driven. If it's a light code can be easily extended for any need such as your, so take my 2cents as an advice of good coding practice.

[2016-03-31 13:46] osdlge commented on #30
my change is considerably lighter than yours. My change only involved 3 or 4 lines of simple code to detect if any .modal.in elements exist before deciding if to remove the overlay

[2016-03-31 13:47] osdlge commented on #30
your demo
http://jsfiddle.net/pzmk50tf/1/
my demo
http://jsfiddle.net/pzmk50tf/2

if you want to compare side by side

[2016-03-31 13:59] thednp commented on #30
Yes I know that. But the [original plugin](http://codepen.io/studiotwist/pen/zqdrKR) doesn't work like that. I don't know, I think I will leave it as is for now. I have a ton of other stuff to do.

[2016-03-31 14:52] osdlge commented on #30
that's also a different use case. I think this issue should really be split

My use case is I want modal stacking so I can trigger modals on top of modals without losing the overlay

This issue may be specific to switching what modal is in view without losing the overlay

anyway it's your code that I am happy to use and my fork of it works for what I want to do which is great. thanks again for you

[2016-03-31 15:03] thednp commented on #30
Thank you, appreciated.

[2016-03-31 15:52] osdlge commented on #30
if you did want to see the highlighted changes https://github.com/osdlge/bootstrap.native/commit/237760a29659d2cd10df7fe65d9a2537e03de0a2

[2016-03-31 15:55] thednp commented on #30
Thank you, I know that too :)

[2016-04-21 02:03] lcannon opened #54 "Any instance of the string 'in' in a collapse's class attribute breaks Collapse"
Presumably this would be fixed by changing the regex to match `/\bin\b/` instead of `/in/` in the toggle function.

[2016-04-21 09:55] thednp commented on #54
Do you have a test scenario with the issue please?

[2016-04-21 23:05] lcannon commented on #54
Sure. The situation that brought this up was a collapse

`<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">`

that targeted this

[code]

Because `/in/` matches against 'navbar-warning-collapse' the toggle method always tries to close the collapse.

[2016-04-21 23:06] lcannon commented on #54
Thanks for the library, by the way, was exactly what I was looking for!

[2016-04-22 01:01] thednp commented on #54
Does the `\bin` RegExp work with IE8? I will probably have to update all code to this, I didn't expect other cases could be touched.

[2016-04-22 01:01] #54 closed

[2016-04-27 10:46] waywaaard opened #55 "Dropdown should not close when clicking a form element"
Bootstraps implementation prevents the closing of the dropdown when the user has clicked on an element inside a form.

To get the same behavior the following change is sufficent and is basically what the original bootstrap dropdown code is doing.

[code]

I wanted to share this as your library is really create.

[2016-04-27 12:25] thednp commented on #55
Thanks for the fix, but we would need something that doesn't require a polyfill for `closest` in the `if (target.closest('.dropdown form')) `.

[2016-04-27 13:56] waywaaard commented on #55
The `closest` polyfill requires `element.matches`. We can write a custom function for the closest functionality (which is basically a polyfill with a different name), or just pass in a polyfill.

[code]

[2016-04-27 15:06] thednp commented on #55
No no, we need something more simple, something like this:
[code]
also we need to only prevent closing the dropdown if ONLY any child `.form-control` is actually `document.activeElement`, basically:
[code]

Now try this out ;)

[2016-04-28 10:47] thednp commented on #55
DO you mean that your form is somehow inside the dropdown or the dropdown is inside another dropdown?

[2016-04-28 12:03] waywaaard commented on #55
I am talking about a `form` inside the dropdown. See [`dropdown.js#L160`](https://github.com/twbs/bootstrap/blob/master/js/dropdown.js#L160) for the original bootstrap source.

[2016-05-03 13:44] thednp commented on #55
Alright, (sorry for the delay, Easter is really serious here), I'm now looking at this, going to try to find an alternative `.closest()` method... and will let you know what's my find.

[2016-05-03 18:07] thednp commented on #55
Done. Check https://github.com/thednp/bootstrap.native/commit/a5d60185ae4b39df836b72ce4f4de47d4d541293

[2016-05-03 18:07] #55 closed

[2016-05-09 21:35] Aspie96 opened #56 "Dropdown not closing properly"
Hi!
I tried the "Form dropdown" component.
It works fine, but when I click elsewhere, it does not close immediately (it takes like half a second).
I tried using Bootstrap and jQuery and it closes immediately.
Also, I inserted it in a menu like this:
[code]

If I do this, the dropdown form doesn't close at all when I click elsewhere.
Still, it does work if I use Bootstrap with jQuery.

Is that a bu

[2016-05-09 21:40] thednp commented on #56
This feature have been recently implemented as suggested by [previous issue](https://github.com/thednp/bootstrap.native/issues/55) so it might not work perfect in all cases.

[2016-05-09 21:55] Aspie96 commented on #56
Yeah, of course, but the fact that it didn't work in that specific case (when implemented in a menu) is a bit unexpected, so I wanted to point it out.
Thanks for your work.

[2016-05-09 22:14] Aspie96 commented on #56
On line 916 I turned:
`if (closest && closest === self.menu.parentNode.querySelector('.dropdown-menu') )`

Into:
`if (closest && closest === self.menu.querySelector('.dropdown-menu') )`

And it now works just fine.

It is still a bit slow, but it does close when in the menu.

Hope that helps.
Thank you again.

[2016-05-09 22:44] thednp commented on #56
It is a bit slow so that the links inside the dropdown still work, otherwise they will simply dismiss it.

[2016-05-10 11:33] Aspie96 commented on #56
I will do some tests as well.
If I manage to solve the issue, I will post my changes here.

[2016-05-10 11:47] Aspie96 commented on #56
Ok, I managed to solve the problem.
`It is a bit slow so that the links inside the dropdown still work, otherwise they will simply dismiss it.`
Would you kindly make an example of when this happens?
I would like to see the problem and try solving it in some other way.

Meanwhile, I will make a pull-request with my changes.
Thank you again!

[2016-05-10 12:14] Aspie96 commented on #56
Here you have it:
https://github.com/thednp/bootstrap.native/pull/57

I also tried it with neasted Dropdowns:
[code]

And it now works just fine, without any delay.

[2016-05-10 12:59] thednp commented on #56
Nope, that delay has to stay, it was a known issue and the delay is there to make sure links inside dropdown can still follow.

[2016-05-10 13:32] Aspie96 commented on #56
Ok, I understand, but the way I did links inside the dropdown (and dropdowns inside others) work just fine without the delay.
The different check probably solves that problem as well.

[2016-05-10 14:51] thednp commented on #56
OK, I cannot do "probably", I have to check the code myself asap.

[2016-05-10 14:57] Aspie96 commented on #56
Of course.
I said "probaby" because I could not create any situation generating the issue.
Both inserting links inside dropdowns and inserting dropdowns inside other ones work just fine.

[2016-05-10 15:00] thednp commented on #56
Also we won't do `.contains()` because it would need a polyfill for IE8 and I don't want that.

[2016-05-10 15:48] Aspie96 commented on #56
Yeah, that is very true.
I see the problem and I solved it.

I also did some other minor changes.

[2016-05-11 11:40] thednp commented on #56
Well, after a few minutes of testing and stuff, the main issue is the nesting of the dropdown component, as of now, the code works pretty much alright, except nesting. I am personally against component nesting, on most components, but I think dropdown might have to be an exception.

I have a much better solution for menus, it's called [navbar.js](https://github.com/thednp/navbar.js), check it out.

[2016-05-11 13:21] thednp commented on #56
I think I fixed the issue and also added nested dropdown menu support.
https://github.com/thednp/bootstrap.native/commit/f62079cc82531d96c3c8daf5f861eadc9e8c89cf

[2016-05-11 13:21] #56 closed

[2016-05-11 13:27] Aspie96 commented on #56
Thank you very much.
I'll download the new version.

[2016-05-11 13:49] thednp commented on #56
Also let me know if the new script is bullet proof ;)

[2016-05-11 13:54] Aspie96 commented on #56
It is working fine, but I have a little doubt.

It works almost exactly like my last version (not the one of the pull request. I made a few other changes since then), but there is a difference.
If I click another link whose "href" is "#", it doesn't work.

No, of course I do know that the reason for that is line 921:
`/\#$/g.test(target.href) && e.preventDefault();`

But I thought this was intende

[2016-05-11 13:56] thednp commented on #56
That's only to stop jumping up and down the page scroll for the `#` links, nothing more.

[2016-05-11 14:00] Aspie96 commented on #56
Ok, thank you very much for your help (and for your library).

If I may suggest just a very little thing, on the next commit (it is not even worth one), on line 936, you may want to replace:
`if (e.which == 27) {self.close(0);}`

With:
`if (e.which == 27) {self.close();}`

Removing the (now) unused parameter.

Of course it has no effect, but a non-used parameter is a bit "weird".

I hope I didn't

[2016-05-11 14:05] thednp commented on #56
Done.

[2016-05-31 11:56] henninga opened #58 "Dropdown adds hash to url"
Hi

Great alternative to jquery.

I've noticed a bug (?) in the click handler for dropdowns. If you have children in your dropdown link, f.ex a span, and you happen to click on that span the regex `/\#$/g.test(target.href) && e.preventDefault();` does not trigger since the target is not the anchor tag itself but one of its children.

Its not a huge issue, but annoying nontheless

For a demo, click

[2016-05-31 13:44] thednp commented on #58
The `e.preventDefault();` is only to prevent 'jumpy' links, if you need a different behavior, try using void `href="javascript:void(0)"`.

The hash added to the URL is default behavior in all browsers, I don't see how it can influence other apps.

[2016-06-01 14:23] thednp commented on #58
So is it a real problem we can solve or we can close it right here?

[2016-06-02 11:15] #58 closed

[2016-06-12 05:01] wifiextender commented on #56
@Aspie96 no need to use any external lib/polyfill when you can solve it in 5 lines, literary.

[code]

Here's working demo with your html http://www.bootply.com/Vpm3ySQkh4#

[2016-06-12 07:38] thednp commented on #56
I will investigate this asap and propose a fix. Will let you know.

[2016-06-13 11:04] thednp commented on #56
Hey @wifiextender I see your demo on bootply is using the jQuery version and you're using it in the header which means it may not work if inside the code `.ready()` is used.

I cannot see how my code isn't working, the demos shown [here](http://thednp.github.io/bootstrap.native/#exampleDropdown) are working as expected.

[2016-06-13 11:15] wifiextender commented on #56
@thednp I joined this issue to summon the author with [es6](https://www.google.com/search?q=javascript+es6) solution, instead relying on 3rd party scripts to do such a simple task.

I made NO mentions about you, your project code/quality and so on.

Used bootply because it was some of the first page results returned by the search engine.

Hope this clears the confusion.

Cheers

[2016-06-22 15:32] squarefractal opened #60 "Alerts added with JS cannot be dismissed"
Alerts added to the document using DOM operations in JS cannot be dismissed. A testcase is attached below:

[code]

In addition, and quite strangely in fact, if you remove the commented out section in the above testcase, the alerts can be dismissed for the `user-messages` div (but not for any other div).

[2016-06-22 15:34] thednp commented on #60
My demo showcases that later added alerts work properly, but please download the latest version and test, the SVN is not up to latest version, to make sure we're talking the same thing.

[2016-06-22 15:43] #60 closed

[2016-06-22 16:31] squarefractal commented on #60
@thednp It is also an issue in the latest version.

[2016-06-22 16:38] thednp commented on #60
OK then, please provide a test demo I can check.

[2016-06-22 17:12] squarefractal commented on #60
@thednp Please check my first post, it contains a testcase and other details.

I initially didn't want to provide a JSFiddle since dismissible alerts do not work at all there at all (unlike the workaround I described in my first post) but [here](https://jsfiddle.net/qgc1oox9/) it is anyway.

[2016-06-22 17:26] thednp commented on #60
jsfiddle doesn't work because it always adds js to the `<head>`. Here's your example on [codepen](http://codepen.io/thednp/pen/EyNEOZ).

[2016-06-22 18:02] squarefractal commented on #60
Please read carefully what I said in the first post; but if it was not clear:

* I'm trying to add a dismissible alert using JS.
* When I try to do this in an div that doesn't have an alert already in it as part of the HTML source (e.g. `<div class="user-messages"></div>`, the alert that's added with JS can't be dismissed.
* As a workaround to this, I can put an alert into the `div` (as shown in t

[2016-06-22 18:04] thednp commented on #60
Of course not. The Alert component can handle later added alerts on the fly as long as you have the right JS at the right place.

[2016-06-22 18:08] squarefractal commented on #60
But then it's not working as intended! Please take the above file and try running it in a browser, first as is (i.e. no preexisting alert) and then with the commenting removed (i.e. with a preexisting alert), I hope you will understand what this issue is all about.

[2016-06-22 18:19] thednp commented on #60
It seems Alert does not work in that case, when no alert component found and initialized.

Bu here's an easy fix, when you append the alert to your wrapper, also initialize it, here's the fixed [example](http://codepen.io/thednp/pen/pbNVRb). I added `new Alert(a);` to initialize after the append.

[2016-06-23 10:38] squarefractal commented on #60
Thank you for looking into this and providing a workaround.

However, are there any plans to resolve this issue in bootstrap.native itself?

[2016-06-23 10:54] thednp commented on #60
What I gave you isn't a workaround, it's the right way to do.

[2016-06-27 17:09] Aspie96 opened #61 "Modal buton in navbar"
Hi!

I tried this snippet:
http://www.bootply.com/98624

And I noticed a difference in behaviour between this and the original Bootstrap.

Now, I know they don't have to be exactly the same, but in this case the behaviour of Bootstrap is probably better.

If I am using Bootstrap Native, when I click on a link to a modal button, I get redirected to whatever anchor there is in that tag.
This already

[2016-06-27 18:30] thednp commented on #61
Thanks commit done, I will also check asap.

[2016-06-27 18:30] #61 closed

[2016-06-27 18:37] Aspie96 commented on #61
Thank you very much.
Please, let me know!

[2016-06-27 19:21] Aspie96 opened #62 "Dynamic content"
Hi, still me.
I know it would require some major modifications, but is support for dynamic content planned to be implemented?

The code contains scripts like:
[code]

The problem with that is that it will not work with dinamically added content (which many sites use).

There are already some events attached to `document`, such as in:
[code]

There should be only one event handler for clicks, attac

[2016-06-27 21:47] thednp commented on #62
It has been [discussed before](https://github.com/thednp/bootstrap.native/issues/60#issuecomment-227832430), this cannot work.

[2016-06-27 21:47] #62 closed

[2016-06-28 09:40] Aspie96 commented on #62
In my case, thouhg, I have to edit the content of the page using innerHTML (because I use templates).

Is there any workaround to make it work in this case?

[2016-06-28 11:47] thednp commented on #62
There is no workaround, there's only the hard way, re-init the functions you need via

[code]

and you are fine.

[2016-07-02 10:08] dgt41 opened #63 "Modal events"
Hi,
right now the modal doesn;t support the events: show.bs.modal, shown.bs.modal, hide.bs.modal and hidden.bs.modal. Would you consider adding them or accepting a PR for that?

(need them for rendering an iframe inside the modal, common practice I guess)

Regards Dimitris

[2016-07-02 10:41] thednp commented on #63
Probably not.

[2016-07-02 10:41] #63 closed

[2016-07-02 12:07] Aspie96 opened #64 "Manually closing collapse"
Hi.

Is there any way to manually close a collapse created dynamically through:
[code]

There is a `.close(e)` method, but it requires an event parameter.

Is there any way I can do it manually, asynchronously? It'd be really useful.
Thank you very much!

[2016-07-03 12:31] thednp commented on #64
Thanks for spotting that out, I will look into it and provide a solution asap.

[2016-07-10 15:34] thednp commented on #64
I just improved this, but it doesn't work properly in IE8, currently working on a fix.

[2016-07-10 20:32] Aspie96 commented on #64
How so?

The event is added through:
[code]

Therefore, if I am getting this right (please, correct me if not), the trigger should always be `self.btn` (and you can easily get the trigger from the target).

[2016-07-10 21:12] thednp commented on #64
Indeed you are wrong, the collapse instance does not know which one is `self.btn` until `self.toggle` is executed. I am going to try to find a way to simplify the script while keeping same visual and browser support.

[2016-07-10 22:19] Aspie96 commented on #64
Mhh, I don't quite get it, honestly.

When initializing each collapse, `this.btn` gets set to `element` (which is the button) and the event handler `this.toggle` gets first bind to such element.
`toggle` then sets it to `self.getTarget(e).btn`.
`getTarget` sets the return value `btn` to `e.currentTarget`. `e.currentElement` is at this point the original button because it is what has been clicked (

[2016-07-10 22:27] thednp commented on #64
I have a new version of the file, un-minified only at this time. Would you like to test it in your app?

[2016-07-10 22:35] Aspie96 commented on #64
I just downloaded the last version of native-accordion.js and repeated the two tests, getting the exact same results.

[2016-07-10 22:35] thednp commented on #64
Wait, I haven't committed yet.

[2016-07-10 22:36] Aspie96 commented on #64
Ah, ok, I apologize.

Anyways, there was no need to modify it for this purpose as, as I said, "self.btn" never changes.

[2016-07-10 22:37] thednp commented on #64
OK now, go ahead and download, test and let me know.

[2016-07-10 22:49] Aspie96 commented on #64
It does not work managing it manually.
I haven't checked why yet, but I would guess it is because of self.collapse not being set.

As self.btn never seems to change, nor the target does.
Therefore, this.collapse can easily be initialized in the Collapse constructor and getTarget is not actually needed.

[2016-07-10 22:52] thednp commented on #64
I was thinking the same while working on the code tonight, when I originally developed the script I was thinking of a solid solution for the use of accordions. I am going to try to change it now, and let you know.

[2016-07-10 22:54] Aspie96 commented on #64
But it does work with accordion as well.

You create a brand new instance of Collapse for each single button (even if the accordion is the exact same).
So you have no reason at all to worry about accordions.

[2016-07-10 22:57] Aspie96 commented on #64
You literally cycle throw all buttons (not collapsible items themselves) creating instances:
[code]

[2016-07-10 23:04] thednp commented on #64
The 'getTarget' method is needed in any case, we only know the btn as the element, we need to find out the target collapse. So there is a new commit, please download and try again.

[2016-07-10 23:06] Aspie96 commented on #64
Yeah, yeah, of course.
I meant that it would only be executed once (so it could not be a method on its own, if one wanted to remove it, but it can stay there for simplicity).
But it does not need to change the button, at all, nor it ever needs a event handler.

[2016-07-10 23:08] thednp commented on #64
The new code doesn't change the btn and collapse on every `open()` or `close()` execution now, only once on `init()`. Please check in your app.

[2016-07-10 23:12] Aspie96 commented on #64
Anyways, it is late here in Italy (01:10), so I am gonna quit thinking about JavaScript now, until tomorrow.

See you soon and thank you very much for your work.

If it helps you, I can modify the code myself, but not right now.
Just tell me if you want me to and I sure will.

Thank you again. See you tomorrow.

[2016-07-10 23:13] thednp commented on #64
Please test tomorrow the new code if you can do whatever you wanted in the first place.

[2016-07-10 23:15] Aspie96 commented on #64
I sure will, thank you again.
Not now, since I couldn't even think rationally at 1:14. Not a good time for debugging, at least for me.

[2016-07-11 09:07] Aspie96 commented on #64
Ok, I just tested it and it seems to work well and nicely.

Thank you very much again.

[2016-07-11 09:07] #64 closed

[2016-07-11 10:11] thednp commented on #64
Thanks for your input, I appreciate it.

[2016-07-23 20:44] RyanZim commented on #64
@thednp Can this be released soon?

[2016-07-23 20:57] thednp commented on #64
I believe so.

[2016-07-23 23:57] RyanZim commented on #64
Not sure what you mean.

[2016-07-25 13:12] RyanZim commented on #64
:grinning: It seems that's how it goes. I'll do a little work on the latest master and report back.

[2016-07-25 13:15] thednp commented on #64
Well, I think you are too late, I am gonna release 1.0.3 in a few minutes.

[2016-07-25 13:40] thednp commented on #61
Check out the new release, I think I also included this improvement.

[2016-07-25 13:40] thednp commented on #64
Ok now, you can play around with the latest release.

[2016-07-25 13:44] RyanZim commented on #64
@thednp `npm publish` please?

[2016-07-25 14:33] thednp commented on #64
I don't do that myself, I had a friend that did that, if you can contribute with that, I am happy.

[2016-07-25 14:43] RyanZim commented on #64
@thednp It's not hard.

I assume you have NodeJS installed.

Open the terminal and navigate to the bootstrap.native directory. (Make sure git is at the commit that you tagged as v1.0.3). Type `npm publish` and hit enter!

If that throws an error, you will need to run `npm login`. This will prompt you for your email, username, and password for npmjs.com. (If you forgot your password, you can recove

[2016-07-25 15:23] thednp commented on #64
I think I did it :dancer:

[2016-07-25 15:26] RyanZim commented on #64
:tada: You did!

[2016-07-25 15:27] thednp commented on #64
My first ever deploy to the npm.

[2016-07-25 17:13] RyanZim opened #65 "SemVer"
One quick question: do you use [SemVer](http://semver.org/)? I normally assume that it's used, but just wanted to double-check.

[2016-07-25 19:56] thednp commented on #65
I believe so.

[2016-07-25 20:00] thednp commented on #5
@IngwiePhoenix I need your help, please if you have some time, add me to collaborators list on npm for KUTE.js, I will try to publish a new version.

Thank you.

[2016-07-25 21:52] #65 closed

[2016-07-28 23:11] UtilityNetwork opened #66 "Carousel + Modal Issues with Internet Explorer 11"
Hi,

Currently, we are using the bootstrap.native.js and we found a few issues involving Internet Explorer 11.

With the bootstrap carousel, it doesn't work at all in Internet Explorer 11. It works only if we insert this polyfill code along with the native javascript.

`

	if ( typeof window.CustomEvent === "function" ) return false;

	function CustomEvent ( event, params ) {
		     params = param

[2016-07-28 23:49] thednp commented on #66
IE11 works with my minifill just fine. Go for it.

About the other issue, that's already custom build, you should use a fork of your own to do the tricks you need, I won't include such stuff in the code, very few would use it.

[2016-07-28 23:49] #66 closed

[2016-08-03 09:40] Avcajaraville opened #67 "Are there any plans to support bootstrap v4 any time soon ?"
I know bootstrap v4 still in alpha. Im planning to deploy an e commerce app in the next two months using bootstrap v4 alpha-3 and was wondering if I could get rid of jQuery (we only needed it for god damn selectors and jQuery plugins...).

Thanks !

[2016-08-03 09:55] thednp commented on #67
https://github.com/thednp/bootstrap.native/issues/37

[2016-08-03 09:55] #67 closed

[2016-08-18 01:31] Martlark opened #68 "dropdown menu only allows nesting of two children"
Can you allow arbitrary depth of nested children?  At the moment the menu only checks for
`target === self.menu || target.parentNode === self.menu || target.parentNode.parentNode === self.menu`
a depth of two.  I have some complicated menu buttons that are formatted using many nested divs.

[2016-08-18 01:40] thednp commented on #68
If you have an idea on how to achieve that with almost the same amount of code, please feel free to submit a PR.

[2016-08-18 04:47] Martlark commented on #68
could cheat and just have a very long list of .parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode; anyways, I'll think on it.

[2016-08-18 10:57] thednp commented on #68
I think working on a menu with a deep structure `dropdown-native.js` may not be the solution, please try my other script here https://github.com/thednp/navbar.js, it's quite the thing.

[2016-08-19 07:27] mathieuleclaire opened #69 "TypeScript version"
Hi,
Is it possible to generate a version in .ts or in d.ts of the bootstrap-native.js ?
Thanks

Mathieu

[2016-08-19 11:12] thednp commented on #69
Hi. I'm not doing TypeScript, but if this would help community, please feel free to post a PR.
Thank you

[2016-08-19 13:44] mathieuleclaire commented on #69
Hi, I do not do TypeScript neither :). I work with scala-js, and to use javascript libs, I need to build a wrapping file. A converter enables to convert a ts.d file to the expected wrapping file. This [repo](https://github.com/DefinitelyTyped/DefinitelyTyped) list them.

[2016-08-19 14:08] thednp commented on #69
I see, well, I will close this down until we have someone to deliver in that regard.

[2016-08-19 14:08] #69 closed

[2016-08-19 15:18] thednp opened #70 "Popover and Tooltip now working properly with SVGs"
Currently working on a fix.

[2016-08-19 16:13] #70 closed

[2016-08-21 19:44] #68 closed

[2016-08-22 11:33] thednp commented on #68
Update: I just tested level 3 menu nesting and it works as expected, I think as long as you use the proper Bootstrap markup you can go deep with no limit.

FYI: `target === self.menu || target.parentNode === self.menu || target.parentNode.parentNode === self.menu` has another use, it checks whether you clicked on a button icon.

I believe your markup is not valid HTML5 in the first place.

[2016-08-22 16:56] thednp commented on #63
Hey there.

I have an idea. What about we get rid of **custom events** and add a **callback functionality** for all `bootstrap.native` scripts? This would work cross-browser and will not require `Event` polyfills.

The only downsize is the fact that it's gonna be a different functionality compared to the original jQuery based scripting.

[2016-08-22 18:47] dgt41 commented on #63
Personally I would not mind this twist, there are ways to work around it, although I think is a safer bet to not divert too much from the jQuery version.
Now about polyfills: is this a real problem? I mean there are even dedicated solutions for such things, e.g. https://github.com/Financial-Times/polyfill-service

[2016-08-22 20:16] thednp commented on #63
The jQuery version strengthens even more the jQuery dependency for it's browser hacks, but that isn't my point. My point is that not everything Bootstrap does is the best, it's just good enough.

The idea is to make things much more simple and actually more usable, like having a callback system with 3-4 lines saves you alot of time and load speed and actual performance. The polyfill service from F

[2016-08-25 07:15] Martlark commented on #68
It was not valid HTML5, well spotted.

[2016-09-16 16:16] thednp opened #71 "Simplify prototypes for faster execution and simplify bootstrap.native.js packaging"
I have a new working code for all modules to work a bit faster, it's a bit more simple and I am also considering packing the `bootstrap.native.js` file different and not just a concatenation of the modules.

The reason is simple: why write same utility function over and over (`addClass` or `isIE`) as well as using module definition for each module when in fact an user gets the all in one package t

[2016-09-16 16:44] RyanZim commented on #71
Have you ever looked into https://github.com/substack/node-browserify? This allows you to write your files in the commonjs module format. Then you can run browserify to bundle all of your files in a UMD wrapper.

[2016-09-16 16:49] thednp commented on #71
No I haven't, I am totally new to this stuff.

[2016-09-16 16:55] RyanZim commented on #71
How were you considering packing `bootstrap.native.js`?

[2016-09-16 16:57] thednp commented on #71
Perhaps [this](http://stackoverflow.com/questions/39534573/javascript-modules-packing-all-in-one) would shed some light.

[2016-09-16 17:04] thednp commented on #71
If you can join me on skype, I can totally provide info on what is to be done.

[2016-09-16 18:21] thednp commented on #71
@RyanZim please take a look at the new `bootstrap.native.js` file [here](https://github.com/thednp/bootstrap.native/blob/master/dist/bootstrap-native.js) and tell me if it doesn't make total sense now.

[2016-09-16 19:11] RyanZim commented on #71
@thednp I understand what you're trying to do.

A few notes:

- `bootstrap.native.js` does not have a UMD wrapper, therefore, it will not work in commonJS environments.
  - `bootstrap.native.js` assigns variables to `window`; you should let the UMD wrapper do this.
- There is no automated way to keep `lib/` and `dist/` in sync.

Gotta go, discuss more later.

[2016-09-16 22:13] thednp commented on #71
That file is to be used by users with `<script src"bootstrap.native.js">` tag as usual, while users with CommonJS/RequireJS environments can build custom bundles with the modules.

[2016-09-17 12:21] RyanZim commented on #71
OK, I understand what you're saying, however:

Are you sure you really want to copy code back and forth whenever you change something?

[2016-09-17 12:40] thednp commented on #71
If there's a way to achieve exactly what I've done with the current `bootstrap-native.js` file I would go for it, but I think the way the file in question is right now serves most needs without the UMD wrapping, and updating it is, as you mentioned cannot be in sync with `lib` folder, will be done manually. I see no problem with that.

Generally I need help with the following things:
* when I chan

[2016-09-17 13:12] RyanZim commented on #71
That is easily possible, I'll try to submit a PR soon (might be next week).

[2016-09-17 13:38] RyanZim commented on #71
If you want both the bundle and the lib files exactly the same as they are now, I don't know of a way to do it.

---

I agree. However, the way you are doing it now, CommonJS users will not get any of those benefits.

---

A brief overview of the CommonJS module system:

- Each module consists of a file that looks like this:

[code]
- We can write code like this:

[code]
- We run this code through

[2016-09-17 17:39] thednp commented on #71
Hey what about a wrapper for the bundle I cooked with the current `bootstrap-native.js` file?

[2016-09-17 21:45] RyanZim commented on #71
That won't work for a few reasons:

- The bundle attaches things to `window`, that's not allowed in CommonJS.
- The bundle exports multiple variables (`Affix`, `Carousel`, etc.). The CommonJS version must export an object containing the functions. We use bootstrap.native like this:

[code]
  CommonJS users never use bootstrap-native.js, instead we use https://github.com/thednp/bootstrap.native/blo

[2016-09-19 11:34] egmen opened #72 "Dropdown menu does not close"
Dropdown menu does not close after clicking any meny item.
This happens even on example [http://thednp.github.io/bootstrap.native/#exampleDropdown](http://thednp.github.io/bootstrap.native/#exampleDropdown) in every browser, I've checked IE11, Chrome and Firefox.
Original bootstrap javascript has such behavior and works well [http://getbootstrap.com/javascript/#dropdowns](http://getbootstrap.com/j

[2016-09-19 12:40] thednp commented on #72
Indeed, our implementation here is a bit different, slightly more simple, it handles forms inside `dropdown-menu` and when the when the click target is a link, it goes to that link.

[2016-09-19 12:40] #72 closed

[2016-09-20 13:37] RyanZim opened #73 "Carousel Events are incorrect"
The carousel emits two events: `slide` and `slid`.

The official bootstrap docs state that the `slide` event should fire first: http://getbootstrap.com/javascript/#carousel-events. (This makes sense, since `slid` is the past tense of `slide`.)

In bootstrap.native, the `slid` event fires first. This is incorrect.

Here are JSBins demonstrating the problem:

- jQuery bootstrap: http://jsbin.com/tap

[2016-09-20 13:37] RyanZim commented on #73
I'm working on a PR.

[2016-09-20 13:39] thednp commented on #73
OK, looking at it.

[2016-09-20 13:56] RyanZim commented on #73
@thednp Done, #74.

[2016-09-20 14:05] #73 closed

[2016-09-21 16:32] nivoliev opened #77 "span in modal trigger button on chrome"
I have a problem to trigger a modal with a button when the button contains a span (glyphicon). On chromium, when the span is clicked, the click event is triggered on the span, which has no `data-target` attribute, and therefore the modal is not opened. I am not very skilled with bootstrap or web development in general so the bug may lie between the chair and the keyboard and my fix is maybe not th

[2016-09-21 17:20] thednp commented on #77
I will investigate the issue and post a fix asap. Thanks for reporting.

[2016-09-21 17:48] thednp commented on #77
Have you tried with `var b = this`? This seems to work for me.

[2016-09-21 17:55] RyanZim commented on #77
`this` should work as well, as long as you don't accidentally add a `bind()` call down the road for some reason. However, I would favor `e.currentTarget` since it's more clear what the value actually is.

[2016-09-21 18:35] thednp commented on #77
I will commit with `this` and will also add this for the close handler.

[2016-09-21 18:45] #77 closed

[2016-09-21 18:47] thednp commented on #77
@nivoliev please check the demo.

[2016-09-21 18:54] RyanZim commented on #71
@thednp Any reason to keep this open?

[2016-09-21 18:55] thednp commented on #71
I still need some opinions, as v1.0.4 is already doing what I explained above. Nobody seems to care/want to get involved.

[2016-09-21 19:07] dgt41 commented on #71
I don't use UMD so for me that would be a 💯 The only thing I don't really know is the effort to achieve that and if that worth it

[2016-09-21 19:08] RyanZim commented on #71
:-1: Keeping bootstrap-native.js and lib/ in sync is enough trouble. Trying to keep two repos in sync is double trouble.

[2016-09-21 19:09] thednp commented on #71
Good now, we have some feedback.

[2016-09-21 19:11] RyanZim commented on #71
The other crazy idea I just though of:

Is making separate files for each module really needed? Does anyone use the files in lib/ directly? If not, I could write a single UMD wrapper for the whole library and we could edit all the source code in one file.

[2016-09-21 19:13] thednp commented on #71
That's what I am also unsure, I was thinking having them separate and some build tools would help each developer build their custom builds similar to what original Bootstrap build tools have.

For instance I don't use carousel, affix, scrollspy and button, so a custom build is a bliss, because an entire lib would overkill the purpose.

[2016-09-21 19:30] RyanZim commented on #71
Perhaps others think differently, but bootstrap + jQuery _slim_ is about 59.8KB. With that size, one could see making a custom build. bootstrap.native is only 33KB, so this is less important.

However, if you want to keep the separate files, I'm thinking about the possibility of developing a fairly complex build script that would reduce boilerplate UMD wrappers for both npm and `<script>` users.

[2016-09-21 19:32] thednp commented on #71
@RyanZim I approve, vote up and have a beer for that.

[2016-09-21 19:51] RyanZim commented on #71
Approve what? Moving all the files in lib/ to a single file or the complex build script? :laughing:

[2016-09-21 19:51] thednp commented on #71
The later.

[2016-09-21 19:53] RyanZim commented on #71
OK, let me think over the best way to do it; might be a couple of days.

[2016-09-21 19:57] thednp commented on #71
You can write a bullet listed plan that we can discuss about, things come from all directions I am sure of that.

[2016-09-21 23:18] RyanZim commented on #71
OK, here is a quick proposal for bundling:

- We remove all the UMD wrappers in `lib/`.
  - Each module declares a variable directly into whatever scope it is run in. (i.e. `affix-native.js` would do `var Affix = function(element,options) { ... }` directly, without an IEFE).
  - We strongly discourage the direct usage of the modules in `lib/`.
- We move all the [utility functions](https://github.c

[2016-09-21 23:44] thednp commented on #71
I like what I see in the code area but I will think about the rest.

[2016-09-22 07:46] nivoliev commented on #77
thanks for the fix, however using `this` neither the button nor the icon triggers the modal.

[2016-09-22 10:24] thednp commented on #77
@nivoliev https://sendvid.com/5tkvc3zy

[2016-09-22 11:53] nivoliev commented on #77
Seems like my bootstrap-native version was too old, and using `this` in that version didn't do. Using a fresh bootstrap-native, it works, many thanks.

[2016-09-22 11:58] thednp commented on #77
Good.

[2016-09-23 13:38] RyanZim commented on #71
Thinking about this a little more, this layout is asking for variable naming conflicts.

**Revision to proposal:**

Each module runs inside an IIFE, but declares its main variable into whatever scope it is run in. Example:
[code]
This keeps the data api variables contained in the IIFE.

[2016-09-23 13:54] thednp commented on #71
I don't like that kind of wrapping, perhaps that wrapping could be done inside the `Affix` function.
Not that I really know, I really love the way D3.js is organized. https://github.com/d3/d3

[2016-09-23 14:26] RyanZim commented on #71
@thednp The issue with my initial proposal is that in the bundle, all the data apis will be running in the same scope (resulting in variable naming collisions). You could do the wrapping differently than above, just so the data api's variables aren't all running in the same scope. Another way to write modules (I sort of prefer this form):

[code]

Another option would be to implement all of the da

[2016-09-23 14:31] thednp commented on #71
Fascinating stuff.

[2016-09-23 14:34] RyanZim commented on #71
So what are your thoughts on bundling here?

[2016-09-23 14:37] thednp commented on #71
My mind is full of noise, why don't you do a fork we can work on together and when we have all things working perfect we can pull it to our master here.

[2016-09-23 14:46] RyanZim commented on #71
SGTM, won't get to work much on it until Monday. My fork is https://github.com/RyanZim/bootstrap.native. I will be working on a branch named `bundle`.

_Warning:_ I rebase and force-push quite often. Beware of this if you clone my fork!

[2016-09-23 14:49] thednp commented on #71
I have a question regarding UMD and performance. You see I'm developing the [KUTE.js](https://github.com/thednp/kute.js/) and I am thinking about a way to define a custom global scope outside UMD wrapper, something to work fast with native functions.

Have a look at this:

[code]

What do you think?

[2016-09-23 15:01] RyanZim commented on #71
A few problems:

`var KGLOBAL = {};` Never declare anything outside of the UMD wrapper, CommonJS (or AMD) do not allow any global variables.

`var K = window.KUTE` Not sure what the purpose of this line is, `window.KUTE` should be `undefined` (If it isn't, you've broken UMD rules someplace).

Not sure why the scope needs to be global, just do `var scope = {};` in your UMD wrapper.

[2016-09-23 15:03] thednp commented on #71
You mean here?

[code]

[2016-09-23 15:18] RyanZim commented on #71
[code]

[2016-09-23 16:49] thednp commented on #71
You are right about that. So I am going to export stuff to global `var g = window`  because I'm getting the best performance scores.

[2016-09-23 17:54] RyanZim commented on #71
Look at this:
[code]

You can read properties from `window` (like `window.clientHeight`), but you cannot add or modify properties to be UMD compliant.

The only place you should export stuff to global is in the UMD wrapper itself: `window.KUTE = factory();`.

BTW, `window.KUTE = window.KUTE || factory();` is overly complex, `window.KUTE` is undefined, so just do `window.KUTE = factory();`

[2016-09-23 18:02] thednp commented on #71
Thank you. I would love to see you around the project with some ideas on how to improve it.

[2016-09-23 18:40] RyanZim commented on #71
Sorry, I don't use many animations on my sites, and most of them are simple enough to do in CSS.

[2016-09-23 20:06] thednp commented on #71
It's not about you using it or not. It's about contributing to the community, and you would only be required with npm/UMD stuff, but I think I managed, I will commit a new version of KUTE.js as soon as I finish all tests.

[2016-09-25 00:34] RyanZim commented on #71
@thednp Had extra time today and got to work on it. Check out https://github.com/RyanZim/bootstrap.native/tree/bundle. :tada:

Build script usage:
[code]

You can run `npm run build` to automatically compile to `dist` (will compile both `bootstrap-native.js` and `bootstrap-native.min.js`).

`lib/utils.js` contains the helper functions; they can be used in any module.

_Warning:_ I used some ES6 fe

[2016-09-25 01:24] thednp commented on #71
That looks solid, I will dig into that as soon as I wake up tomorrow.

[2016-09-25 01:29] thednp commented on #71
Before I go: how would you connect utilities to each lib? Each script needs specific stuff, so no need to use them all if only 2-3 needed? I have an idea but I don't know how it's gonna be implemented with this npm stuff.

[2016-09-25 03:58] styfle commented on #71
@RyanZim It looks good. You can simplify a lot of the places where you return a boolean by just returning the condition. For example

### Before
[code]

### After
[code]

[2016-09-25 14:31] thednp commented on #71
I think `ignore` doesn't work.

[2016-09-26 07:21] serge-kilimoff opened #79 "In dist/bootstrap.native.js, window.Modal instead of window.Dropdown"
https://github.com/thednp/bootstrap.native/blob/master/dist/bootstrap-native.js#L666

`var Dropdown = window.Modal = function( element) {`

instead of

`var Dropdown = window.Dropdown = function( element) {`

Therefore, Dropdown does not work because further crushed:

`var Modal = window.Modal = function(element, options) {`

Thanks !

[2016-09-26 07:40] thednp commented on #79
Wow thanks for the find.
https://github.com/thednp/bootstrap.native/commit/905754f427c32a908b2d16d515b05078e2a255a9

[2016-09-26 07:40] #79 closed

[2016-09-26 13:53] RyanZim commented on #71
@thednp Passing options directly to `npm run build` doesn't work (`npm run` takes options like `-s` to silence output). The docs refer to using `node build.js` for custom builds.

Regarding utilities, the minified utils are only around 800 bytes! I think should worry about other optimizations with greater returns.

---

@styfle Thanks for the tip! Will fix.

[2016-09-26 18:04] RyanZim commented on #71
@styfle Fixed! @thednp PR made: #80.

[2016-09-26 18:07] #71 closed

[2016-09-28 09:29] mgiulio opened #82 "The Dropdown keyboard access is different from the original BS component"
Menu expansion:

* BS: arrow down, ENTER
* BSN: ENTER

Menu items navigation:

* BS: up and down arrows
* BSN: nothing

Menu item selection:

* BS: ENTER, when item selected
* BSN: not applicable

[2016-09-28 13:23] thednp commented on #82
This feature haven't been implemented, feel free to contribute.

[2016-09-30 13:13] mgiulio opened #83 "Carousel prev/next slide navigation with keyboard arrows keys doesn't work"
The relative code is implemented, but pressing the left or arrow key when the component has the keyboard focus nothing happens.

[2016-09-30 13:18] RyanZim commented on #83
@mgiulio Do you have `data-keyboard="true"` set? http://thednp.github.io/bootstrap.native/#exampleCarousel. Keyboard navigation is not turned on by default.

[2016-09-30 13:31] mgiulio commented on #83
Oops, missed that one! I was assuming keyboard navigation was on by default as in BS. Sorry:)

[2016-09-30 13:31] #83 closed

[2016-09-30 13:36] RyanZim commented on #83
No problem, we all do that sometimes. :wink:

[2016-10-02 14:33] eldyvoon opened #84 "minified version doesn't work with webpack"
I use webpack for bundling. When I do import '../node_modules/bootstrap.native/dist/bootstrap-native.min.js'; it says

`Error in ./~/bootstrap.native/dist/bootstrap-native.min.js
Module parse failed: /Users/Documents/practice/node_modules/bootstrap.native/dist/bootstrap-native.min.js Unexpected token (3:0)`

but it's working with the non minified version, I wonder.

[2016-10-02 15:41] thednp commented on #84
I believe @RyanZim would take a look at that anytime now.

[2016-10-03 13:52] RyanZim commented on #84
OK, will look into it.

[2016-10-03 14:00] RyanZim commented on #84
@eldyvoon Are you using v1.0.4 or the latest `master`? If you're using v1.0.4, try using `master` and see if that works. (Uninstall `bootstrap.native` and run `npm install thednp/bootstrap.native` to install from the latest master.)

It does look like the minified build for v1.0.4 might have an error (fixed in `master`).

[2016-10-03 14:11] thednp commented on #84
Soon we have it online on npm.

[2016-10-03 14:13] RyanZim commented on #84
@thednp Hang on, make sure @eldyvoon can get master working before we push a release.

[2016-10-03 14:21] eldyvoon commented on #84
yup the master has no error, it's working now.

[2016-10-03 14:27] RyanZim commented on #84
@thednp It looks like v1.0.4's minification was buggy, could you publish a new release?

[2016-10-03 14:27] RyanZim commented on #84
P.S. Make sure to run `npm run build` before publishing.

[2016-10-03 14:33] thednp commented on #84
Yes Ryan. Thanks :)

[2016-10-03 14:40] eldyvoon commented on #84
Thank you for the lighting fixes guy, appreciate that!

[2016-10-03 14:40] #84 closed

[2016-10-03 14:47] RyanZim commented on #84
@eldyvoon When @thednp makes a new release, you will want to uninstall `thednp/bootstrap.native` and install `bootstrap.native` again.

[2016-10-03 14:57] thednp commented on #84
@RyanZim I will tag a new release and publish from the release, by the way do you think we should go with a new release right away?

[2016-10-03 15:18] RyanZim commented on #84
Not sure what you mean; we should make a release today IMO.

[2016-10-03 16:49] thednp commented on #84
@eldyvoon Please test the new release. Thank you.

[2016-10-11 21:36] anisimovsergey opened #85 "Dropdown dosen't close"
How to reproduce:
1. Open this link [http://thednp.github.io/bootstrap.native/#exampleDropdown](http://thednp.github.io/bootstrap.native/#exampleDropdown)
2. Open the the dropdown-menu on click as described there
3. Try to select an item in the menu and close the opened dropdown.

[2016-10-11 21:51] anisimovsergey commented on #85
Reading the closed issues I found out that it's by design (quite confusing though).
Closing the issue.

[2016-10-11 21:51] #85 closed

[2016-10-15 05:32] thednp commented on #82
Closing this out due to no activity.

[2016-10-15 05:32] #82 closed

[2016-10-19 14:32] Gfast2 opened #86 "A much practical example showing how let bootstrap.native works with npm, browserify, babelify."
[code]
Hi,
Right now I'm working on the Webinterface of a device. Because I've gone a long way with browserify, npm and babelify only (without Bootstrap or JQuery). And need the rocking feature that bootstrap.native delivered. After about 3 hours brain burning, I even can not add a dummy button from it. The code above is part of the howto. It just not helpful enough for me.

Is there someone would

[2016-10-19 14:47] thednp commented on #86
I believe @RyanZim has an idea about that, I'm not with this stuff anyways ;)

[2016-10-19 14:52] RyanZim commented on #86
Yeah, docs need updated. Will do a PR.

Try this:

[code]

You probably won't need custom code unless you're dynamically adding elements to the DOM.

[2016-10-19 14:59] thednp commented on #86
Thanks @RyanZim, a life saver ;)

[2016-10-19 16:13] Gfast2 commented on #86
Super Cool!, Thanks @RyanZim !

I write acutally modules in Javascript. And call them when I need them. All coponents are defined in javascript like:
[code]

So when I do the trick like you said: I can't just `appenChild()` the from `new bsn.Button(btn)` wrapped `myButton` anymore. Chrome told me:

`Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'.`

[2016-10-19 16:23] RyanZim commented on #86
OK, if you're creating elements, you'll want to do something like:

[code]

That should work.

I'm not sure if `new bsn.Button(btn)` would work before calling `appendChild()`; try this and see if it works:

[code]
If both methods work, the second one is preferable.

[2016-10-19 20:25] #86 closed

[2016-10-19 20:26] Gfast2 commented on #86
Hi @RyanZim @thednp ,
you are awesome! Since the project I'm working on have to run with hardwares that only available in my working places. I will tell you the result morning...

Thanks again for the support! Hopefully I can use bootstrap.native in it.

[2016-10-19 20:57] thednp commented on #86
@Gfast2 we're glad we could help

[2016-10-20 07:46] Gfast2 commented on #86
[code]

After about 20 minute exploration. I figure out, I have to `append` the elements on the site first, then I am permitted to wrap it into `new bsn.Button()`. By the way I've to define some css class for this button before, If not chrome will give me other Errors, too.
After the initialization, I've tried to change the class of the bootstrap.native button. But without success.

I'm thinking a

[2016-10-20 07:59] thednp commented on #86
@Gfast2 you actually have access to the button, but your lines should look like this:

[code]

The `this` of your invocation holds track the element in `this.btn`, I think you can investigate the code and learn more what you can actually do.

[2016-10-20 08:29] Gfast2 commented on #86
@thednp thanks again! It WORKS beautifully!!!
Now I'm start to trying arguments to the button, to let it do the trick like in the example...
[code]
If you have time, you can write it here. If not, I'd try to figure it out myself.

[2016-10-20 08:31] thednp commented on #86
Can you clarify your question, I cannot figure out what you're after.

[2016-10-20 08:39] Gfast2 commented on #86
Yes. My question is:
if you define a button within the `<>` fashion. The parameter like `data-toggle="button"` or `data-loading-text="Loading..."` will have no problem what so ever. But if you do it in other way like we said:
`btn.btn.className = 'btn btn-default';`
You don't have the chance to define the others. For instance:
`btn.btn.data-toggle = "button";` will be not comipled.

So I'm still t

[2016-10-20 08:43] thednp commented on #86
The `Button` script has 2 features:
* set button state
* toggle radios and checkboxes

It doesn't have, also the original script to my knowledge, a way to toggle classes.

[2016-10-20 09:17] Gfast2 commented on #86
@thednp Thanks. I'm still fighting with it.If I get the answer eventually. I'd write here.

[2016-10-20 10:44] mathieuleclaire opened #88 "DropDown Class"
Hi,
I need to instanciate a Dropdown class to be abble to call the close() method on it (in order to call it programatically). But I cannot instanciate the Dropdown class: ``` Uncaught TypeError: $g.Dropdown is not a constructor```

Thanks

[2016-10-20 10:53] thednp commented on #88
You have some code to look at?

[2016-10-20 12:04] mathieuleclaire commented on #88
I call the javascript from a scala mapping (thanks to the scala-js lib). It works perfeclty with the Modal where my wrapping is written this way (js.native means that the function implementation is taken from the bootstrap-native.js itself ):
[code]
But it does not with for Dropdowns with the following code:
[code]
It seems from the doc that both classes APIs are very similar, so that I thought it

[2016-10-20 12:08] thednp commented on #88
ATM I have no idea.

I am not familiar with `scala-js`, I suggest investigating yourself or look for solutions at `scala-js` devs/docs.

[2016-10-20 12:08] #88 closed

[2016-10-20 12:11] mathieuleclaire commented on #88
But do you confirm, that I am supposed to be abble to instanciate the Dropdown class and to invoke the close function on it ?

[2016-10-20 12:14] thednp commented on #88
If your script is at the bottom along with the `Dropdown` script AND your button is actually present within an HTML page, it should work fine.

[2016-10-20 14:53] Gfast2 commented on #86
After such a long time. I decided to not use this framework.

I even try to _**inject**_ a button into a `td` of the table. It still not works at all. Pretty frustrated.
[code]

[2016-10-20 15:18] thednp commented on #86
It's not most fascinating thing in the world, it's an open source project. If you can find a way to make it work share it with us, because there's nothing else like it.

[2016-10-20 20:30] Bessonov opened #89 "Modal get closed on click on any element"
Hello thednp,

thank you and other commiters for this great library! Bootstrap's dependency on fat jQuery is a really show stopper.

I guess this line introduce an unexpected behavior in 1.0.5:
https://github.com/thednp/bootstrap.native/blob/1.0.5/lib/modal-native.js#L186

If I click on content area of a modal or on any input in modal, then modal close itself. If I swap line 186 with 185, then it

[2016-10-20 22:06] RyanZim commented on #89
@Bessonov If you can provide a JSFiddle or similar demonstrating the problem, that would be great.

[2016-10-20 23:01] Bessonov commented on #89
@RyanZim
I replaced jQuery with bootstrap.native:
https://jsfiddle.net/k9s9Ljjm/

[2016-10-21 05:26] thednp commented on #89
@Bessonov thanks for reporting. Will be fixed ASAP.

[2016-10-21 06:14] thednp commented on #89
https://github.com/thednp/bootstrap.native/commit/4be5a1dbec0c439c5ef55f7bd920b88e3f26ce98

[2016-10-21 06:14] #89 closed

[2016-10-21 13:11] RyanZim commented on #89
@thednp `v1.0.51`? That should be `v1.0.6` to follow SemVer; `v1.0.51` > `v1.0.6`.

[2016-10-21 13:23] thednp commented on #89
`1.0.6` tag will have some improvements I'm working on. `1.0.51` is only for the fix with Modal.

[2016-10-21 13:30] RyanZim commented on #89
@thednp Yes, but if you publish `v1.0.51` to npm, npm users won't receive `v1.0.6` when it's published.

[2016-10-21 13:42] thednp commented on #89
Oh, I see. Then we figure it out then.

[2016-10-21 13:55] RyanZim commented on #89
If you need to publish this fix before you're done with your improvements, publish it as `v1.0.6`. If your improvements contain new features, publish it as `v1.1.0`, if not, publish them as `v1.0.7`.

Just follow SemVer:

- Breaking changes, bump the major and reset all the others.
- New features, bump the minor and reset the patch.
- Bug fixes, performance improvements, or anything that does not

[2016-10-21 13:58] RyanZim commented on #89
Oops, didn't realize you had already published `v1.0.51` (BTW, you didn't make a github release for that, not sure if that was intentional). You'll have to make the next version `v1.0.52` or `v1.1.0`.

[2016-10-21 13:58] thednp commented on #89
Yes Ryan.

[2016-10-22 00:46] micahstubbs opened #90 "Cannot set property 'Affix' of undefined"
thanks for `bootstrap.native` - it's saved me from hours of terrible jQuery debugging. have a friendly bug report, along with a fix that worked for me.

![screen shot 2016-10-21 at 5 42 34 pm](https://cloud.githubusercontent.com/assets/2119400/19615567/d036f078-97b5-11e6-860c-2b3df11e80dd.png)
![screen shot 2016-10-21 at 5 42 41 pm](https://cloud.githubusercontent.com/assets/2119400/19615568/d1b20

[2016-10-22 06:33] thednp commented on #90
I don't know about this, I think @RyanZim would disagree.

[2016-10-22 11:55] RyanZim commented on #90
@micahstubbs @thednp `root` is `this`, which is usually `window`, perhaps rollup's bundles work differently. I've worked with rollup in the past, though I never used `bootstrap.native` with it.

I'll do a bit of investigation and report back.

[2016-10-22 12:54] RyanZim commented on #90
@micahstubbs Thanks for reporting! Doing a little research, rollup does quite a bit of transformations to the bootstrap.native code. Can you make a commit on a separate branch in your repo that demonstrates the problem? Sorry for the bother, but I'm not sure if this is a rollup bug.

[2016-10-22 21:10] RyanZim commented on #90
@micahstubbs I can't really investigate this without a commit that demonstrates the issue. I cloned your repo, switched the bootstrap.native dependency back to the normal npm version, recompiled, and received no such error.

Also, that line of code should only run in a browser global environment; rollup runs non-es6 modules in a commonjs environment. Perhaps you weren't using `rollup-plugin-common

[2016-10-23 16:45] micahstubbs commented on #90
@RyanZim your last guess is spot on.  in the meantime, I've figured out how to use `rollup-plugin-commonjs`.  I just changed `window` back to `root` in my custom build of `bootstrap.native` and verified that the error message doesn't appear.  thanks for the comments!

[2016-10-23 16:45] #90 closed

[2016-10-24 12:35] RyanZim commented on #90
Glad I could help!

[2016-11-05 11:46] pitaj opened #92 "Example page totally broken due to mixed content"
I suggest switching to using `https://` or just `//` in the URLs for external resources. Cheers!

[2016-11-05 13:15] RyanZim commented on #92
Should be `https://`. @thednp I don't have time to fix this ATM, can you?

[2016-11-05 18:05] thednp commented on #92
Thanks for reporting.

[2016-11-05 18:05] #92 closed

[2016-11-18 17:50] MuffinMan10110 opened #93 "jsdelivr.net CDN link on homepage returns 404"
Just letting you know in case you weren't aware. On the home page under the section "Load from the CDN"  there is a code snippet for two CDN's, the first one: Jsdelivr cdn returns 404, but the other one works fine.

http://thednp.github.io/bootstrap.native/

[2016-11-18 17:56] thednp commented on #93
Please try

[code]

[2016-11-18 18:01] MuffinMan10110 commented on #93
@thednp Looks good! 👍

[2016-11-18 18:01] #93 closed

[2016-11-18 18:05] thednp commented on #93
Sorry for the confusion, please allow me to explain: latest master branch 1.0.5 is equivalent to latest npm branch 1.1.0 due to some updates pushed into npm for build testing purposes.

[2016-11-19 10:33] alzalabany opened #94 "usage with angular1 dynamic loaded content."
when using with angular1, new loaded dropdown doesnot work.

how can tell bootstrap.native to rescan html ?

[2016-11-19 10:38] thednp commented on #94
Perhaps [this](https://github.com/thednp/bootstrap.native/issues/62) helps?

[2016-11-24 09:43] #94 closed

[2016-11-24 09:48] thednp opened #95 "[question] regarding the build script"
This probably goes to @RyanZim but also anyone who knows this stuff: how do you actually use the build.js script to create a custom build?

The basic usage says:
[code]
could I use this for instance?

[code]
or

[code]

[2016-11-24 13:20] RyanZim commented on #95
@thednp The build script is pretty loose about what arguments it accepts.

Both of the examples you posted work correctly; there are many more ways that it will accept them.

The script doesn't care if you include the `-native.js` part; this will also work:

    node build.js --minify --ignore=['modal']

The argument parser doesn't care about your formatting; this will bundle just the `alert` and

[2016-11-24 14:18] thednp commented on #95
Thank you @RyanZim

[2016-11-24 14:18] #95 closed

[2016-11-26 18:20] pors commented on #72
Hi @thednp, awesome library! Saves me many bytes :)

So what is the solution if you want it to close on clicking a menu item? E.g. in case you use named anchors?

[2016-11-26 18:28] thednp commented on #72
@pors You can always fork the script and do something like this:

[code]

Haven't tested but you probably get the point.

[2016-11-26 18:34] pors commented on #72
Wow, that's a fast answer :)

Will do what you propose, thanks!

[2016-12-01 14:34] duffyg opened #96 "'className' is null or not an object"
I'm getting this in the _resize function at statement 898. Overlay is undefined as opposed to null, but the statement is only checking for not null:
if ( overlay !== null && /\bin/.test(overlay.className) )
if I change it to truthy instead the problem goes away:
if ( overlay && /\bin/.test(overlay.className) )

I'm using the default polyfill.min.js with getComputedStyle. Problem occurs on IE8 runn

[2016-12-01 14:38] thednp commented on #96
Thanks for the report, I will do some test on my virtual machine asap.

[2016-12-02 06:15] roura356a commented on #66
I confirm this, we are developing a large application and carousel is not working for IE10 & IE11 users. Thanks @UtilityNetwork for mentioning the polyfill. I'll try it.

[2016-12-02 06:23] thednp commented on #66
@roura356a try minifill.

[2016-12-02 06:29] roura356a commented on #66
Thanks @thednp!

[2016-12-02 09:09] thednp commented on #96
Please try the latest minifill or the online demo on your testing environment and let me know if that solves it.

[2016-12-02 11:24] duffyg commented on #96
Sorry, where can I find the latest minifill? Also why minifill and not bootstrap-native? I'm using _cdn.polyfill.io/v2/polyfill.min.js_

[2016-12-02 11:37] thednp commented on #96
http://www.jsdelivr.com/projects/minifill

[2016-12-02 11:51] duffyg commented on #96
If I move to minifill I'll need a polyfill for querySelector. What's the recommended solution?

[2016-12-02 11:58] thednp commented on #96
You don't need a polyfill for `querySelector`, unless you address <IE8, see http://caniuse.com/#search=querySelector

Did the minifill work?

[2016-12-02 12:17] duffyg commented on #96
See [quirksmode](http://quirksmode.org/dom/core/#t13) where it says the support is incomplete in IE8. Without a polyfill I get _Object doesn't support this property or method_ but with the polyfill from _https://cdn.polyfill.io/v2/polyfill.min.js?features=default,getComputedStyle_ everything's fine (I'm running in IE8 standards mode). I'm converting an existing jquery project so some of the querie

[2016-12-02 13:24] duffyg commented on #96
Quick update:
1. Without a polyfill I get _Invalid argument_ and not the error reported above. I can confirm that querySelector/querySelectorAll are present in IE8 but they can't handle complex selectors.
2. Mixing the querySelector polyfill with minifill doesn't seem to work. It gives a _Member not found_ error while trying to set a constructor.

I removed the complex selector and the polyfill an

[2016-12-02 13:48] thednp commented on #96
Good!! that's the way to go, and we finally close this.

[2016-12-02 13:48] #96 closed

[2016-12-06 13:46] mgiulio opened #97 "Article on Sitepoint"
Hi @thednp , I was not able to find you on Twitter so I am (ab)using the GH issue tracker to inform you about an [article on Sitepoint](https://www.sitepoint.com/use-bootstrap-components-without-jquery/) on this project.

Cheers,
mg

[2016-12-06 15:58] thednp commented on #97
I thank you so much for the article, I just got to my PC and will get to reading. I will post feedback asap.

[2016-12-07 10:07] thednp commented on #97
@mgiulio can you edit that post? We need to make some things clear. (I am now starting to write to you in this post)

[2016-12-07 15:37] mgiulio commented on #97
Hey @thednp , thanks for your feedback!

I cannot directly edit the post, but as soon I've 'digested' your findings I can talk to my editor about some editing.
But please notice that the article is only a 'Quick Tip', that is, a short piece that cannot go into much deep. So, for instance, a deeper explanation about the polyfills as you report in the 'More Usage instructions' would be a bit overkil

[2016-12-07 15:43] thednp commented on #97
Right. I will leave this "issue" open until we got some necessary fixes to the article.

Until then, stay awesome ;)

[2016-12-08 11:03] mgiulio commented on #97
Hi @thednp , here I am!

I'm going to submit to the editor the fixes about the 'itself' typo and the bsn.js abbreviation(yes, it is a bit misleading: the intention it wasn't to refer to the script file but to use it just as an abbreviation, like jq; infact, initially we had bs.js instead of bootstrap.js).

For the other topics, please feel free to expose them in the comments for now.

Thanks again

[2016-12-14 07:11] oliseviche opened #98 "Wrong behaviour of modal.dismiss in bootstrap.native.js"
Wrong condition for removing event listeners exists in Modal.dismiss method.

[code]
After closing dialog 'in' class is removed before the code above is executed, thus leading to behaviour that every close event new click listeners are attached.

[2016-12-14 10:29] thednp commented on #98
Do you have an example to showcase the behavior is wrong? What do you mean by wrong: is it different than original jQuery script or it's not fast enough?

[2016-12-14 16:56] oliseviche commented on #98
Well, I will try to explain with pseudo-example, and if it wouldn't be understandable, will provide a fiddle.

The main problem is with dismiss and keydown methods. They both create handlers within them, which are subscribed to click event of modal element through closures.

The first problem is that when both dismiss and keydown methods are called, the modal element doesn't contains 'in' style cl

[2016-12-14 17:11] thednp commented on #98
I perfectly agree with you here. In this case, I am open to any code suggestion you may have.

[2016-12-14 18:36] malcocerGit opened #99 "'Next' & 'Prev'"
I want to get the original events as 'next' and 'prev', but I don't know how exactly add this on the script, someone have a example or help me. I remember someone post a example but I don't find it.

This is for use with Hammer with touch events.

[2016-12-14 20:49] thednp commented on #99
Hey what are you talking about? Can you try to be more explicit?

[2016-12-14 21:04] malcocerGit commented on #99
Sure, I'm trying to expose ".carousel('prev')", but I don't know how or where add the code.

[2016-12-14 21:41] thednp commented on #99
http://thednp.github.io/bootstrap.native/#exampleCarousel

The script doesn't do exactly like the original, the next and prev actions are applied to elements having the `data-slide="next"` attribute and that's it.

Why don't you inspect the code a bit? Maybe you can find the answer.

[2016-12-14 21:52] malcocerGit commented on #99
Sure, I have done it along the day, the problem is I want to do something like this

[code]

[2016-12-14 23:00] thednp commented on #99
I would do this:

* remove the `data-ride="carousel"` attribute
* init carousel manually

[code]

Try it and let me know. But I'm sure you'll figure it out, especially if you would read the code a little bit.

[2016-12-14 23:01] #99 closed

[2016-12-14 23:03] malcocerGit commented on #99
Oh! thanks, I had not thought about that idea. I'm will try and back post my feedback. Regards.

[2016-12-20 03:44] Jeff17Robbins opened #100 "simplest example of a working modal dialog?"
Hi.  Naively, I tried to create a test Modal on jsfiddle using the first example at [http://thednp.github.io/](http://thednp.github.io/bootstrap.native/#examples)

I am new to bootstrap, so I am guessing I am missing some assumed background knowledge.  But, as the jsfiddle link below shows, I can't simply cut and paste the `<button>` and `<div> dialog onto a blank page and have something popup.`

[2016-12-20 12:54] thednp commented on #100
The resolve is simple: you need to link the bootstrap.native script at the end of the body, not in the `<head>`, not at the beginning of the `<body>`, but at the END of the `<body>`.

Check the changes in my updated fiddle here:
https://jsfiddle.net/o2ectmr1/1/

[2016-12-20 12:54] #100 closed

[2016-12-20 13:27] Jeff17Robbins commented on #100
That is simple!

So it seems that the code wants the DOM to all be there before it loads.  I am using webcompinents, some of which might not render into the DOM until later.  It would be a nice enhancement if I could either

1) give bootstrap-native an event or even a Promise to wait on before inspecting the DOM
Or
2) expose a function that lets me decide when bootstrap-native ought to inspect the

[2016-12-20 13:52] Jeff17Robbins commented on #98
Here's a [jsfiddle](https://jsfiddle.net/o2ectmr1/3/) showing the accumulation of previous event listeners.

After launching the Modal the first time, `<div id="myModal1"...>` has one `click` eventlistener.
![click_1](https://cloud.githubusercontent.com/assets/2102919/21352757/faa30de2-c690-11e6-8f37-c55f99c628b1.PNG)

Then close the Modal.  Now, two `click` eventlisteners.
![close_1](https://clou

[2016-12-20 14:40] thednp commented on #98
Does this happen with Modal only or is it happening to other components?

I am now sure this has to be improved ASAP, and I also am sure this should not happen with Carousel.

So in my mind now, I am confident we should have something like this:
* when `.open()` is used, remove listeners that trigger the `.open()` method
* when `.close()` is used, add listeners back

Please confirm that this is th

[2016-12-20 14:45] thednp commented on #100
@Jeff17Robbins I am open to any suggestion on how to handle any `Promise` or webpack related work, it should probably have to deal with the way we init the script [here](https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js#L211-L219).

[2016-12-20 14:53] Jeff17Robbins commented on #98
I'm sorry, but I am new to both Bootstrap and Bootstrap-native.,so I am not quite sure what you are asking.

When you say "remove listeners that trigger the `.open()` method", I am confused.  In the jsfiddle example, there is a `<button>` separate from the dialog which has a listener to then find via the `data-target` attribute its corresponding dialog and call that dialog's `.open()` method.  Whi

[2016-12-20 14:54] thednp commented on #98
Ok, please make another test with Carousel, check if it multiplies any `click` event listeners and let me know, it should not.

If that is true, then Modal and other components have to be checked asap, and I mean ASAP.

[2016-12-20 15:00] Jeff17Robbins commented on #98
I will try.  I have never used Carousel, so it won't be fast turnaround.

[2016-12-20 15:13] thednp commented on #98
You can simply test on the bootstrap.native demo site, I am curious of your finding.

[2016-12-20 20:25] Jeff17Robbins commented on #98
The problem in [the Modal code](https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js) is in its use of a CSS class named `in` as a flag.

All three routines which are meant to add an event listener in `.open()` and remove the listener in `.close()`

- `.resize()`

- `.dismiss()`

- `.keydown()`

use `in` as their flag via this test: ` if (!/\bin/.test(this.modal.className)) {

[2016-12-20 21:07] Jeff17Robbins commented on #98
A couple other code problems in [Modal](https://github.com/thednp/bootstrap.native/blob/master/lib/modal-native.js):

- `if (!/\bin/.test(this.modal.className)) {`

I think you meant to put the "word boundary" on both sides of `in`:

`if (!/\bin\b/.test(this.modal.className)) {`

- `clearTimeout(currentOpen.getAttribute('data-timer'));` in `this.open` looks for an attribute `data-timer` that is ne

[2016-12-21 01:16] thednp commented on #98
Your findings are truly interesting. I am super curious what would you suggest about your [previous comment](https://github.com/thednp/bootstrap.native/issues/98#issuecomment-268349155).

[2016-12-21 01:18] Jeff17Robbins commented on #98
You could try moving these lines to the bottom of the function.
[code]

[2016-12-21 03:43] oliseviche commented on #98
Assumptions made by Jeff17Ribbinns are right, but even this changes would not prevent accumulating, because component doesn't save original handler to unsubscribe.
I will provide my local corrected version a bit later to show how in my case I've managed the problem.  It isn't in pull request because I think that it somehow violates the main code and style flow of original library, but anyway it co

[2016-12-21 03:55] Jeff17Robbins commented on #98
Good point.  The handlers are local to a closure, so the removeEventListener isn't passed the same function as the addEventListener had been passed.

[2016-12-21 09:11] oliseviche commented on #98
Let's go!

First changes includes adding a special toggled subscription routines for DOM events. The main purpose of it to generate a toggled subscribe/unsubscribe methods. First call of getSubscriptionToggler(...) returns a toggler, which when called subscribes/unsubscribes from listeners in a chainable manner;

[code]
Next, I've removed handlers generation from keydown and dismiss methods, and p

[2016-12-21 14:28] thednp commented on #98
@oliseviche I was looking for a fork in your profile to see this code working but I couldn't find one.

[2016-12-23 00:42] RyanZim commented on #100
@Jeff17Robbins Does the jquery version of bootstrap even support that?

[2016-12-23 00:49] Jeff17Robbins commented on #100
I have no idea. I am not a Bootstrap user (because jQuery) but was intrigued by the potential benefits of Bootstrap's mature CSS framework without jQuery.

[2016-12-23 00:55] RyanZim commented on #100
Given the fact that bootstrap native doesn't even support everything bootstrap does, I'm not in favor of adding this.

[2016-12-23 01:07] Jeff17Robbins commented on #100
Yes, I agree it is reasonable to focus on parity with the jQuery functions.  But the "run the script last" approach seems brittle, and out of step with other frameworks.

[2016-12-24 01:16] RyanZim commented on #100
@Jeff17Robbins You can always call bootstrap-native programatically later. The jQuery version works the same IIRC.

[2016-12-24 01:20] Jeff17Robbins commented on #100
That is a good solution.  What function ought I call?

[2016-12-24 01:25] RyanZim commented on #100
This is the code bsn actually runs on page load, you could easily run this yourself:

[code]

[2016-12-24 01:31] Jeff17Robbins commented on #100
Sure, but each module has its own logic, and presumably could evolve over time.  Why not expose a public function for people working with frameworks that manipulate the DOM after page load?

[2016-12-24 01:39] RyanZim commented on #100
As far as I'm aware `new Modal(modal,options)` isn't changing without a major version. All the same, not terribly opposed to a public function. @thednp ?

[2016-12-24 09:59] thednp commented on #100
@RyanZim I was about to ask you: is there anything else we can do to give these people something to work with? I kinda agree `new Modal(..)` should do in most cases but I don't know much about these frameworks.

[2016-12-24 12:39] thednp commented on #98
@oliseviche I think we can export this script to UTILS and use it in all components for the event handling.

[2016-12-24 14:22] RyanZim commented on #100
@thednp Frankly, I don't know much more than you. IIRC, webcomponents isn't totally standardized yet; I would leave things as they are for the time being and possibly revisit later. If we get a PR that tries to address this, we can discuss this then.

[2016-12-24 14:37] thednp commented on #100
@RyanZim I agree.

[2016-12-24 23:21] Jeff17Robbins commented on #100
In case anyone is using  [webcomponents](https://github.com/WebComponents/webcomponentsjs), and wants the great benefits of jQuery-free Bootstrap-native, here's [a simple example](https://jsfiddle.net/8geg9mbt/) of burying the bootstrap files in an HTML Import.

The file `bootstrap.html` contains these 3 lines:

[code]

And is used like so, in the `<head>` of your page, so no need to place a scrip

[2016-12-25 11:45] thednp commented on #100
Thanks for the find @Jeff17Robbins.

[2016-12-25 23:06] thewisenerd commented on #54
this issue still isn't fixed.

```1. \bin```: http://regexr.com/3euta
```2. \bin\b```: http://regexr.com/3eutm
```3. (^|\s)in($|\s)```: http://regexr.com/3eutg

1. matches words like ```navbar-inverse-collapse``` and ```inverse-class```
2. matches words like ```navbar-in-example```
3. checks if string begins ```in``` or there is a space before ```in```, and ensures that either string ends with ```

[2016-12-25 23:46] thewisenerd commented on #98
sorry for hijacking this thread, but the ```\bin``` regex is broken. I've commented about it in issue #54 ( https://github.com/thednp/bootstrap.native/issues/54#issuecomment-269141024 ).

[2016-12-26 16:25] thednp commented on #54
I think we will have a new `hasClass(element,className)` to work with a proper regex.

[2016-12-26 16:34] thewisenerd commented on #54
@thednp cool!

at this point i have to manually patch javascript because i have a div with class name ```navbar-inverse-collapse``` :P

hoping this gets patched soon.

[2016-12-26 17:12] dgt41 commented on #54
Why not use classList.contains('class-name') and polyfill ie?

[2016-12-26 17:19] thednp commented on #54
To keep polyfill dependency to as low as possible. I noticed some users haven't even heard of them.

[2016-12-26 17:39] dgt41 commented on #54
@thednp according to Microsoft: https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support
EOL is in 3 weeks for IE 9, 10.
I guess people could either include ft polyfill service: https://polyfill.io/v2/docs/
or your version pumped with classList.
For me is better to have a clean ES5 code (and polyfill whatever missing) than try to make it "one fits all". But that's my 2c...

[2016-12-26 17:41] RyanZim commented on #54
I think we're all looking forward to bootstrap v4; then we won't have to support IE8.

[2016-12-26 17:43] dgt41 commented on #54
@RyanZim BS v4 host dropped IE 9: https://github.com/twbs/bootstrap/issues/21387

[2016-12-26 17:52] thednp commented on #54
yes, our v4 version will be IE9+ of course.

[2016-12-26 18:11] RyanZim commented on #54
@dgt41 Thanks for pointing that out. If bootstrap is dropping IE 8 & 9, we should too IMO @thednp.

[2016-12-26 18:31] thednp commented on #54
@RyanZim we only need a proper `Event.prototype` + dispatcher polyfill for IE9+, so why just not, the same polyfill is required for IE10+ and I believe also for Ms Edge. (for future BSN4 I mean)

[2016-12-26 18:51] RyanZim commented on #54
@thednp BS v4's css will be totally broken in IE9, why support IE9 for the JS?

[2016-12-26 19:15] thednp commented on #54
https://v4-alpha.getbootstrap.com/migration/

Added official support for Android v5.0 Lollipop’s Browser and WebView. Earlier versions of the Android Browser and WebView remain only unofficially supported.

[2016-12-26 19:35] RyanZim commented on #54
Hosted docs are out of date with the alpha development branch. Actual latest docs are here: https://github.com/twbs/bootstrap/blob/v4-dev/docs/migration.md#browser-support.

[2016-12-26 19:48] thednp commented on #54
Ah great, so people will have to fork or look for other frameworks ;)

[2016-12-26 19:59] dgt41 commented on #54
If you don't mind I will create some custom components based on your code (@thednp )

[2016-12-26 20:21] thednp commented on #54
Why should I? As long as the MIT license is all the way, we're all happy :)

[2016-12-26 21:24] dgt41 commented on #54
@thednp there is https://frend.co but doesn't fulfilled most cases...

[2016-12-26 21:41] thednp commented on #54
Indeed, that's a bit too "one purpose".

In my mind I think of a good typography + an improved&simplified bsn + some grid + some content light design.

[2017-01-04 13:37] thednp commented on #54
I was thinking about it and I wish to have a final note in regards to @RyanZim & @dgt41 remarks: our bsn here is for BS3 and will continue to support be old browsers, just as the original script. The future version will be also BS4 like browser support.

@thewisenerd I started implementing a `hasClass(element,classNAME)` utility in all scripts, the new code will be commit later today.

Happy New Y

[2017-01-04 13:52] thednp commented on #98
@oliseviche I will change the way events are handled all round, no more removing and re-adding events, we will simply toggle a local variable, for instance `isSliding = true/false` for carousel and check against it instead of adding/removing handlers.

[2017-01-04 17:10] dgt41 commented on #54
Happy new year @thednp 🎉

Reasonable decision, I like it!

[2017-01-08 15:04] thednp commented on #97
@mgiulio you really have to do some article edits, the new version coming soon is going to fix most issues and missings, but most importantly size improvements and feature wise.

Stay in touch with the next commit.

[2017-01-11 14:26] mathieuleclaire opened #101 "Tooltip doesn't hide when parent element removed"
Hi,
I get exactly the same problem described in the following issue. It does not seem to exist any hide function to fix this. Is it doable ?
Thanks

https://github.com/twbs/bootstrap/issues/3084

[2017-01-11 15:33] thednp commented on #101
Yes, the new code will have a usage guide on how to access methods.

[2017-01-11 15:37] mathieuleclaire commented on #101
Cool, when do you think you could provide this ?

[2017-01-11 15:41] thednp commented on #101
The code is ready but I haven't finished documenting it, stay in touch 2-3 days.

[2017-01-11 15:42] RyanZim commented on #101
Quick example (haven't tried it):
[code]

[2017-01-11 15:44] thednp commented on #101
Nop, you need to use `tip.close();`

[2017-01-11 15:50] mathieuleclaire commented on #101
nice, I am waiting !

[2017-01-11 15:52] RyanZim commented on #101
@thednp Just a shot in that dark, glancing at the source code. :dart:  Sorry I missed.

[2017-01-15 01:25] thednp commented on #72
@pors and @egmen the future version will have an option to control this behavior.

By default the new option will be disabled `false` which will make the Dropdown same as before, but when `true`, it will not close, as you know it is now, and even better.

[2017-01-15 17:22] thednp opened #102 "[Questions] - later added elements into the DOM: to be or not to be"
For those who work with DOM manipulations and use the library or have any experience with JavaScript driven dynamic content, please reply:

* Do you think we would need some tools and/or polyfills to enable our library to go LIVE (initialize proper BSN component for every new element added to the DOM) ?

* If yes, what would you suggest? (I am currently experimenting with `CustomEvent`, `MutationE

[2017-01-15 19:26] kuus commented on #102
I am not sure if bootstrap native uses event delegation but I seem to remember it does not, I think that could be enough. If I have to work with really dynamic pages I prefer using more robust frameworks.

Both

is out of topic but I would suggest to implement a modular es6 structure to the project (if I'll have time I'll try to work on that)

[2017-01-15 19:35] thednp commented on #102
We will work on `bootstrap.native` for Bootstrap 4 with this in mind, based on the code of my future commits.

[2017-01-16 01:49] Jeff17Robbins commented on #102
I would like a way to add one or more BSN component at "runtime" (after the
page loadtime upgrading process has already initialized the elements
originally on the page.)  So, yes to question #1.

I noticed that Bootstrap 4 is apparently dropping IE8 and IE9 support. From
https://v4-alpha.getbootstrap.com/migration/#browser-support:

   - Dropped IE8, IE9, and iOS 6 support. v4 is now only IE10+ an

[2017-01-16 02:15] thednp commented on #102
I am working on an event for BSN for BS3 `update.bs.dom`, works in IE8+

[code]

This is probably suitable for BSN for BS3, but what do you think?

Indeed the `ShadowDOM` spec sounds very interesting.

[2017-01-16 09:09] Aspie96 commented on #102
I have been building a modified version of bootstrap.native that works even if you modify the DOM (without calling extra functions), but it is missing some elements.

Would it help if I published it on GitHub?

[2017-01-16 09:57] thednp commented on #102
@Aspie96 I believe it's an IE9+ solution?

[2017-01-16 09:58] Aspie96 commented on #102
I made it a while ago, but it should be IE8+.
I haven't tested it on actual IE8, though (the latest version of IE contains a simulator of older versions, I used that one).

[2017-01-16 10:14] thednp commented on #102
@Aspie96 please go for a fork of the current master and start applying your changes, I am curious if there could be something better than my current development.

Again, the BSN 1.5 series coming soon will have major code changes, for sure your version will not be mergeable with that, but at least we can all have an idea.

@Jeff17Robbins reading more into your input I can now say that everything y

[2017-01-16 12:11] Aspie96 commented on #102
Forking is exactly what I did, but I cannot publish the project right now since I am not at home.

It is actuallyn quite a bit different from yours, but it is fully based on yours.

As I said, some controls are missing.

Maybe, before pushing on GitHub, I will paste the code on PasteBin (to fix a few things before pushing, like… the manual XD).
I hope you don't mind if I do so.

Thank you for usin

[2017-01-16 12:48] kenshinman opened #103 "Use with React (Class based component)"
Hello, Thanks for this wonderful is there a way to rewrite. I'm trying to use it with React (Class based components), and I'm having troubles implementing it. Is there a way to do this thanks

[2017-01-16 13:29] thednp commented on #103
If you use the proper markup and make sure visibility toggling CSS is in place, you can use with anything.

Now I am not going to tell you how to do that, you need to investigate yourself, currently I am working on a new version release.

[2017-01-16 13:29] #103 closed

[2017-01-17 15:36] Jeff17Robbins commented on #102
Here's a very crude, but working, example of packaging BSN Modal as a custom element.  You need Chrome to see it run, because I didn't load the webcomponents polyfill.

https://jsfiddle.net/w1cmLc0g/

I call it 'crude' because it doesn't encapsulate everything about Modal, and it hasn't hidden the Modal's dialog contents in Shadow DOM, but it does define the toplevel aria and other attributes for

[2017-01-17 16:15] thednp commented on #102
As much as I like your example, it's too outer space for me, maybe you can shed some light for me: do the `customElements` behave like they are under `MutationObserver`, or something to enable dynamic content...

NO NO, let me ask you this: is there anything you can explain to me who I just heard of `customElements` and `MutationObserver` what is BEST to do, WHERE is BEST to go forth?

Thanks :)

[2017-01-17 16:21] Jeff17Robbins commented on #102
I don't understand your question, sorry.  The beauty of a custom element is
that it is a first class citizen of the browser.  Rather than hijacking div
s to make them be a modal, you can have a true bsn-modal element.  Why is
that outer space?

On Tue, Jan 17, 2017, 11:16 AM thednp <notifications@github.com> wrote:

[2017-01-17 16:27] thednp commented on #102
It's a bit unusual for me, I still try to figure out way to make components work in IE8+ and your examples blow me away so high...

Anyways, we expect more people share their opinion in this topic, eventually we're getting somewhere.

[2017-01-17 16:31] Jeff17Robbins commented on #102
Got it!  Yeah, we've dropped everything below IE11, but I understand that
not everyone can do that.

On Tue, Jan 17, 2017, 11:27 AM thednp <notifications@github.com> wrote:

[2017-01-17 16:33] dgt41 commented on #102
@Jeff17Robbins I improved your code bit, for multiple modals: http://codepen.io/dgt41/pen/LxbzQG

[2017-01-17 16:37] thednp commented on #102
@Jeff17Robbins

So using custom elements for our library's components would make this library `dynamic content enabled`?

[2017-01-17 16:41] dgt41 commented on #102
@thednp as I mentioned before, if I get some free time, I'm willing to create a Custom Elements fork of your library, @Jeff17Robbins is right CE are first class citizens for browsers and also the polyfill https://github.com/WebComponents/webcomponentsjs makes it compatible up to IE9(*)

Implementing your library as custom elements should be on your radar for BS4...

[2017-01-17 16:46] Jeff17Robbins commented on #102
Yes, because you get a life cycle callback ("connected callback") which
gets called when the element is attached to the DOM.  That is your hook to
do whatever you need to make the element useful.

There is also a "disconnectedCallback" when the element is removed from the
DOM.  Useful for cleanup.

On Tue, Jan 17, 2017, 11:37 AM thednp <notifications@github.com> wrote:

[2017-01-17 18:09] thednp commented on #102
In my current code, I changed the way components get initialized via DATA API, I have a new utility for that.

Additionally, I've setup a `bulkInitializeDataAPI` utility, haven't tested yet but it should work; the utility could be used for BSN3, I guess, as I'm reading the above may not be required for BSN4.

[2017-01-24 19:56] thednp commented on #102
I've investigated [how Bootstrap is handling events](https://github.com/twbs/bootstrap/blob/v3-dev/js/dropdown.js#L158-L163) and more about the practice of delegating events to later added elements, they attach all event handlers to the `document` object and delegate to specific selectors. A practice jQuery developers themselves admitted it's a bad practice because that's too much of a burden on t

[2017-01-26 02:50] thednp commented on #102
I just commited a new version, please do some testing everyone ;)

[2017-01-26 08:21] thednp commented on #101
@mathieuleclaire please check the new commit, doc/demo updated, codebase updated

https://github.com/thednp/bootstrap.native/commit/2a079b06c2304a1cebdc16a385f5049024911857

[2017-01-26 08:22] thednp commented on #98
@oliseviche @thewisenerd @Jeff17Robbins please test the new commit

https://github.com/thednp/bootstrap.native/commit/2a079b06c2304a1cebdc16a385f5049024911857

[2017-01-26 14:37] RyanZim opened #104 "static is a reserved word in JS"
At [lib/modal-native.js#L17](https://github.com/thednp/bootstrap.native/blob/2a079b06c2304a1cebdc16a385f5049024911857/lib/modal-native.js#L17), you are declaring a variable with the name `static`. That is a reserved word in JS, so that is invalid JS. My module bundler refuses to bundle bootstrap.native. Please rename the variable, or remove it altogether. (Not sure what the benefit of it is.)

[2017-01-26 14:42] thednp commented on #104
Yes, please do a test and report anything you can find, I will fix them all ASAP.

[2017-01-26 14:57] #104 closed

[2017-01-26 14:57] #98 closed

[2017-01-26 14:57] #101 closed

[2017-01-26 14:58] #97 closed

[2017-01-27 11:33] c01nd01r opened #105 "Popover position"
Hi!
I looked modal component on the demo site and I think Popover have wrong positioning.
Look at this screencast https://youtu.be/crzMnjpX7-w

[2017-01-27 12:22] thednp commented on #105
I tested on my phone and it's working as expected. Either the Chrome emulator is wrong OR the Chrome emulator injects the document into another kind of invisible `<iframe>` and the component will compute the position based on the root document and not the one in the `<iframe>`.

Next time, test on your phone first.

[2017-01-27 12:50] c01nd01r commented on #105
Ok, I tested it on my Android 7.1 and Chrome 55.0.2883.91
https://drive.google.com/file/d/0BwZyHEp890XdMG5pNzJBYTI1S2c/view?usp=sharing
Nothing has changed

[2017-01-27 12:58] thednp commented on #105
Oh I see. Well, our Popover and Tooltip components have no handler for touch events.

I am now thinking of 2 possible ways:
* we either close the tooltip on scroll/touchmove
* or we create a new handler to update the position on scroll/tochmove

[2017-01-27 13:04] thednp commented on #105
This must be related to the changes needed to [make it work for SVGs](https://github.com/thednp/bootstrap.native/commit/caaac8b45ca1b2460999de4a465359f06afd6933)

[2017-01-27 13:19] thednp commented on #105
OK I will look into it and hopefully provide a fix ASAP.

Thanks for reporting.

[2017-01-27 14:01] thednp commented on #105
Ok please test the new code, demo and docs updated and report back any other issues.

[2017-01-27 14:07] #105 closed

[2017-01-28 11:29] thednp opened #106 "Issue with getElementsByClassName utility"
IE8 related.

[2017-01-28 11:57] #106 closed

[2017-01-28 20:18] Jeff17Robbins commented on #102
I updated my custom element Modal example to the latest cdn version.  It still works.  I haven't dug in to see how the new event code works, but thought I'd post the example if it helps.

http://codepen.io/anon/pen/GrOYoO?editors=1010

[2017-01-29 14:10] thednp commented on #102
CDNjs is a bit behind, probably stuck in some semver related issue, here's the latest CDN
https://cdn.jsdelivr.net/bootstrap.native/2.0.1/bootstrap-native.min.js

[2017-01-29 21:01] Jeff17Robbins commented on #102
I'm confused.  What is not working in http://codepen.io/anon/pen/GrOYoO?

[2017-01-29 21:05] thednp commented on #102
That isn't the latest CDN.

[2017-01-29 21:10] Jeff17Robbins commented on #102
This is the line from http://codepen.io/anon/pen/GrOYoO? that pulls in BSN:
```<script src='https://cdn.jsdelivr.net/bootstrap.native/2.0.1/bootstrap-native.js'></script>```

Screenshot below.  What isn't "2.0.1" about this?  I'm confused because it says "2.0.1" in its path!

![image](https://cloud.githubusercontent.com/assets/2102919/22407894/31b0e644-e63d-11e6-9ac9-ca29826e97f3.png)

[2017-01-29 21:12] thednp commented on #102
Sorry, your pen settings have the old CDN link, please check.

[2017-01-29 21:16] Jeff17Robbins commented on #102
Oh.  I am a jsfiddle user, and didn't know that the settings overrode my script. My bad!
Before I go off to edit, could you please tell me what change(s) I need to know about?  I'm asking because the [example link](http://codepen.io/thednp/pen/egeqJr) you posted has a broken second button:

![image](https://cloud.githubusercontent.com/assets/2102919/22407935/27d31ab0-e63e-11e6-8c65-210df6d17cee.pn

[2017-01-29 21:23] thednp commented on #102
Now BSN 2.0 the Modal component will initialize only on `data-toggle="modal"` elements, which means buttons. So I don't know how to make the second button work as I don't understand ES6 just yet.

[2017-01-29 21:37] Jeff17Robbins commented on #102
I think I am beginning to understand your changes.

[code]

It seems that you are supporting the `<button>` either inside the modal DOM, or outside it.  `queryElement(...)` supports both, but your call to it with only one argument forces it to search the whole document.  This creates pressure to use unique `id` attributes, which we try to avoid as `id`s get in the way of instance-able components.

[2017-01-29 21:56] thednp commented on #102
Sorry
```var Modal = function(element, options) { // element is NOT the modal```

[2017-01-29 22:07] Jeff17Robbins commented on #102
Do you have proof that the combination of a regex, a string edit (to strip the `#`) and then byId actually IS faster?  I doubt it is faster than handing querySelector the initial `#` selector.

[2017-01-29 22:11] thednp commented on #102
OK @Jeff17Robbins please type in `document.all` in your console an hit Enter, which ones the parser is gonna look into first, the IDs or the others?

Now, please check the documentation on Modal, from top to bottom, then we can have something to talk about, something we both have in mind.

[2017-01-29 22:26] Jeff17Robbins commented on #102
I don't know what "document.all" has to do with how modern browsers implement querySelector.  When querySelector sees a '#', it can INTERNALLY use any byID logic or indexing it might be maintaining.  Why should if need the programmer to regex search for '#' etc...it seems so unlikely to me!

Meanwhile, I fixed my custom element wrapper for BSN 2.0:  http://codepen.io/anon/pen/PWEPjv

While it work

[2017-01-29 22:37] thednp commented on #102
OK, let me explain how that `queryElement` works and why. It will handle both DATA API initialization and JavaScript initialization, in multiple cases fashion:

* if the `element` is an `HTMLElement` object, will return that, mostly via JavaScript
* if the `element` is a selector, it will do a proper selection based on the string
  - if `#` is found, look for an element with that id
  - OR find fi

[2017-01-29 22:51] Jeff17Robbins commented on #102
@thednp  here's some evidence against your getElementById theory.  `getElementById`, by itself, might be faster than `querySelector`, but once you add that regEx overhead, all bets are off!  I wrote a simpler version of `queryElement` called `queryElement2`, and it is nearly 6X faster on my Windows/Chrome.

https://jsperf.com/queryelement-vs-queryselector

![image](https://cloud.githubusercontent.

[2017-01-29 22:57] thednp commented on #102
OK cool, I will do that your way asap ;)

[2017-01-29 23:02] Jeff17Robbins commented on #102
@thednp , I am not following what you said:

I think you are saying that an app might want to launch a modal via more than one UI element?  But if that is true, why do I need to pass the triggering element to the Modal constructor?

Why does the Modal even have to know about the element(s) that trigger it?  Or why couldn't that be optional, support a JavaScript-only mode?

[2017-01-29 23:08] thednp commented on #102
Because each triggering button has/sets it's own content and holds the initialization, with settings and stuff.

Basically you can do a single `<bsn-modal id="myWebSiteModal">` to do the job for everything and everyone.

[2017-01-29 23:12] Jeff17Robbins commented on #102
I think I see where we are disconnected.  I was picturing having multiple `<bsn-modal>` elements, one per use.  It sounds like you are picturing associating each instance with the `<button>` instead.

There's probably a way to have it both ways.   For my way, I could have the triggering `<button>` as part of my `<bsn-modal>`.  Somehow.

[2017-01-29 23:15] thednp commented on #102
Yes, but your way may not be suitable because both BSN and original jQuery plugins DON'T DO multiple modals at the same time, still why would you need it your way, practically?

[2017-01-29 23:17] Jeff17Robbins commented on #102
I don't want to display multiple modals at once.  But I want to  "code" different modals, one for, say, an error condition, one for, say, a property sheet, etc...  I'd like each potentially displayed modal to be a separate element instance.

[2017-01-29 23:20] thednp commented on #102
You can still do that.

[2017-01-30 20:13] thednp commented on #102
@Jeff17Robbins you are not talking to me and I need feedback.

Also everyone else is welcomed to say their opinions.

[2017-01-30 20:43] Jeff17Robbins commented on #102
It is nothing personal!

I guess I have nothing to add -- I don't like passing the "triggering element" to the modal constructor when using the JavaScript API.  I'd rather let my button's click handler find the modal and call a method (e.g. `toggle`) on it.

But that's just my opinion.

[2017-01-30 22:00] dgt41 commented on #102
@thednp @Jeff17Robbins check this: https://dgt41.github.io/bootstrap-components-as-custom-elements/

[2017-01-31 00:03] Jeff17Robbins commented on #102
@dgt41 , nice!

The thing I don't like (sorry!) is that in the code you needed to do this:

[code]

and the HTML needed this
![image](https://cloud.githubusercontent.com/assets/2102919/22447070/3d8ce0b2-e71e-11e6-842c-7f77eee03db2.png)

It doesn't smell object-oriented that the implementation code of an object has to

1. have a special `id`
2. have code inside itself that then has to find a `<butt

[2017-01-31 00:11] thednp commented on #102
@Jeff17Robbins how do you link a trigger and a modal together? How would you write it so that it can satisfy us all?

[2017-01-31 00:29] Jeff17Robbins commented on #102
I'll give it some thought.  I see that @dgt41 was able to avoid calling the Modal JavaScript API, but I guess that means that by putting the magic attributes on the element, some other code noticed and instanced a Modal as a side-effect.

I'd kinda like to instance the Modal inside the custom element constructor.  And I'd like an option to NOT pass the trigger into that Modal.  Then at least I'd o

[2017-01-31 00:47] Jeff17Robbins commented on #102
I might have time to work on this more tomorrow.

On Mon, Jan 30, 2017 at 7:12 PM thednp <notifications@github.com> wrote:

[2017-01-31 12:22] dgt41 commented on #102
@Jeff17Robbins I've kept the id and the data-target in order to keep the markup as close to the original (bootstrap) as possible. Rethinking this, probably, we've could do it differently, but it might need also different markup and that will make the migration from the original bootstrap to the custom elements a bit harder...

[2017-01-31 12:38] Jeff17Robbins commented on #102
Does the original bootstrap require passing the trigger element (e.g. the `<button>`) into `new Modal(...)`?

As best as I can see at http://getbootstrap.com/javascript/#via-javascript, it does not.

We can leave the `id` on the dialog, and use `data-target` on the trigger.

I am requesting that bootstrap native drop that argument from `new Modal(...)`.  It is an extra coupling that is not require

[2017-01-31 12:43] thednp commented on #102
No, and I am working on our component to do the same now.

[2017-01-31 13:23] thednp commented on #102
To @Jeff17Robbins
OK Now. I managed to make it work like the original, you can also initialize on a modal element and totally ignore a triggering element, while having full control over the methods via JavaScript.

The DATA API will initialize all buttons with `data-toggle="modal"` and `data-target="#modal-ID"` or `href="#modal-ID"`, but via Javascript you have full control over the initialization

[2017-01-31 14:12] Jeff17Robbins commented on #102
Sounds awesome!  I should have time tonight to try it out.  Which CDN is it on?

[2017-01-31 14:27] thednp commented on #102
@Jeff17Robbins you should rely on the [demo](http://thednp.github.io/bootstrap.native/), use [this file](http://thednp.github.io/bootstrap.native/dist/bootstrap-native.js) for your testing.

[2017-01-31 16:17] thednp commented on #102
UPDATE:

@Jeff17Robbins https://github.com/thednp/bootstrap.native/commit/69f67ccf7ee3ae35dacfb36c658565ccc8b8f517

[2017-02-01 13:16] thednp commented on #102
Well @Jeff17Robbins ?

[2017-02-01 13:53] Jeff17Robbins commented on #102
Here's an update to a custom element (note to @dgt41 , using the v1 API  `customElements.define(...)`)

http://codepen.io/anon/pen/MJVgpq

I put the `trigger` (`<button>`) inside the custom element.

[code]

The implementation of `<bsn-modal>`:

[code]

I managed to have zero `id`s, because the `trigger` is inside the custom element.  Putting the `trigger` inside the custom element makes it the cu

[2017-02-01 14:34] thednp commented on #102
@Jeff17Robbins
There is something I don't understand: why you set via JavaScript `backdrop: 'true'`, it should be either `backdrop: true` or `backdrop: 'static'`, the option is `true` by default.

[2017-02-01 15:02] Jeff17Robbins commented on #102
Just my ignorance, sorry.

On Wed, Feb 1, 2017, 9:34 AM thednp <notifications@github.com> wrote:

[2017-02-01 18:01] Aspie96 commented on #102
@thednp, Sorry for being late:
http://pastebin.com/DQYCBBt7

[2017-02-01 18:05] thednp commented on #102
@Aspie96 indeed late, but still, give the new master a try and tell us what you think.

[2017-02-01 20:53] Aspie96 commented on #102
Well, thank you for letting me know this.

Indeed, what I did is not equally useful to what you did, at all.
But I think it can be a useful alternative when you want to use Bootstrap as it is, just without jQuery, but also without writing extra code and not being able to simply edit the page content.
Of course I am talking about the current version of your code, not the future ones.

Am I really?

[2017-02-01 21:27] thednp commented on #102
@Aspie96 bet of luck with the exams.

[2017-02-01 21:30] Aspie96 commented on #102
Thank you, man!

[2017-02-01 22:50] thednp commented on #102
So everybody your tests alright? I wanna go with a new release tag and get some work on something else.

[2017-02-01 22:51] Jeff17Robbins commented on #102
sounds good

On Wed, Feb 1, 2017 at 5:50 PM thednp <notifications@github.com> wrote:

[2017-02-04 10:50] djforth opened #107 "Feature request - bootstrap 4"
I did try to plug it into a bootstrap 4 project, but looks like structure and api has changed a bit, so didn't work in the few areas I checked. As fair as I can see there is no bootstrap 4 version, is there one in the pipeline? Would be happy to take a look/help out.

I know there is a big push on bootstrap 4, so would be great to have a bootstrap 4 version.

[2017-02-04 11:32] thednp commented on #107
I haven't tried this yet, but I think it should be fine so I will do some tests today with the code from our current master.

I will let you know the result in a couple of hours.

[2017-02-04 12:09] thednp commented on #107
It's just a matter of CSS class rename here and there, I got the Carousel to work already.

[2017-02-04 12:38] dgt41 commented on #107
modal is using different markup (one more nesting div before modal-body)

[2017-02-04 12:46] thednp commented on #107
I know, it's something for Apple stuff.

[2017-02-04 15:29] thednp opened #108 "[IMPROVEMENT] ScrollSpy needs to work the same as the original"
I finally understand how the original plugins works, now working on a way to make it same as the original.

[2017-02-04 18:18] thednp commented on #108
OK, **ScrollSpy** works like the original but only for overflowing elements, if the body or an immediate child element of the body is the target of ScrollSpy constructor, you need some special markup and some additional CSS (as for previous BSN versions).

[2017-02-04 20:45] thednp commented on #107
@dgt41 I see no difference between [v3](http://getbootstrap.com/javascript/#modals-examples) and [v4](https://v4-alpha.getbootstrap.com/components/modal/#live-demo) in terms of markup.

[2017-02-04 21:01] dgt41 commented on #107
@thednp you're right, probably confused with something else

[2017-02-04 21:04] thednp commented on #107
OK I managed to have it all for BS4, anyone interested in a test?

Components
* Carousel
* Collapse
* Tooltip
* Popover
* Tab
* Dropdown
* ScrollSpy
* Alert
* Modal
* Button (except the state toggle method, only for checkboxes and radios for now)
* Affix has been removed

[2017-02-04 21:10] thednp commented on #107
Tooltip, Popover and ScrollSpy have changed the way they work as of markup structure.

[2017-02-04 21:16] dgt41 commented on #107
@thednp what's the branch?

[2017-02-04 21:18] thednp commented on #107
Same branch, the `/lib` folder is split in two: V3 and V4, also a new root folder `/dist-v4`.

Coming soon, I am preparing a small demo atm.

[2017-02-04 21:19] dgt41 commented on #107
@thednp for v4 I think you need to remove all the polyfills, bs4 supports IE>10

[2017-02-04 21:23] thednp commented on #107
@dgt41 indeed, however, users can choose exactly what they need.

I would need some suggestions on how to name the files for BS4.

[2017-02-04 23:29] thednp commented on #107
@dgt41 and @djforth please test

http://thednp.github.io/bootstrap.native/v4.html

[2017-02-04 23:35] #108 closed

[2017-02-05 01:16] thednp commented on #67
http://thednp.github.io/bootstrap.native/v4.html

[2017-02-05 01:16] thednp commented on #49
http://thednp.github.io/bootstrap.native/v4.html

[2017-02-05 11:23] thednp commented on #107
@dgt41 IE10+ still need `Event`, `CustomEvent` and `dispatchEvent` polyfills, so polyfills are there to stay.

[2017-02-05 13:08] djforth commented on #107
That was quick! Will check tomorrow when I'm in front of a computer

[2017-02-07 10:38] danielnixon opened #109 "Modal accessibility issues"
The bootstrap.native modal has some accessibility regressions compared to vanilla Bootstrap 3. In particular, it doesn't trap keyboard focus within the modal and it doesn't restore keyboard focus to the element that triggered the modal after it is closed.

Compare https://thednp.github.io/bootstrap.native/#modalExamples to https://getbootstrap.com/javascript/#live-demo

[2017-02-07 12:03] thednp commented on #109
I haven't had the chance to keep track of every improvement of the original plugins over time, this one is probably a new feature with v3.1+, where `bootstrap.native` started around the 3.0 series.

Feel free to add your contribution or suggestion on how it should work.

[2017-02-07 14:20] mathieuleclaire commented on #101
Hi,
I made some tries with the 2.0.2. The following use case does not work: I build a span with
- a tooltip on it and
- a function removing the span when clicking on it as well as a call before the deletion to the Tooltip ```hide()``` function.

The span is deleted but not the tooltip. Using ```removeToolTip()``` leads the same result. The best behaviour by the way would be that the tooltip vanish

[2017-02-07 14:39] thednp commented on #101
Your span holds the Tooltip initialization like so:

[code]

Now if you remove the span, before that you need to do

[code]

[2017-02-07 15:39] thednp commented on #107
We can close this for now.

[2017-02-07 15:39] #107 closed

[2017-02-08 10:29] quantix-studio opened #110 "dist-v4 missing installing via npm"
is there a branch or version to specify ?

Thanx for the job !

[2017-02-08 12:30] thednp commented on #110
I haven't decided on it yet, first I must talk to the CDN hosts on how to publish V4.

BUT before all that , we all need to test everything, I don't want to patch versions over and over.

[2017-02-08 16:01] PiotrChr opened #111 "e.preventDefault overwrite on Immutable property"
It seems that within Handler methods script is trying to overwrite Immutable property of the event object.
[code]

Logged error:
[code]

[2017-02-08 16:12] thednp commented on #111
Can you please provide a demo and a guide on how to replicate.

[2017-02-08 18:04] thednp commented on #111
Looking at the code I don't remember why I wanted it to be prevented and later to be allowed, I guess I was trying to prevent triggering the `show.bs.modal` twice.

[2017-02-08 18:42] #111 closed

[2017-02-08 18:45] thednp commented on #109
@danielnixon please test latest master and let me know how it works.

[2017-02-08 18:45] #109 closed

[2017-02-09 14:14] thednp commented on #110
@quantix-studio, while things get settled down you can meanwhile install from Github directly

https://docs.npmjs.com/cli/install

[2017-02-09 21:03] thednp commented on #110
OK Now you should have it on npm, closing it.

[2017-02-09 21:03] #110 closed

[2017-02-09 21:13] gplume commented on #102
A big +1 to the original post. I really need this functionality!
If I understand well we just have to wait testing/doc-writing and it will be added to the next release?
Thanks for the great work and for saving some internet bandwidth :)

[2017-02-09 22:33] thednp commented on #102
@gplume which one are you reffering to?

[2017-02-09 23:35] gplume commented on #102
"...later added elements into the DOM" !
for bs3 btw.

[2017-02-10 00:23] thednp commented on #102
@gplume that is something we already discussed in this very thread, if you read careful, you will find out it's a very bad practice to bind all event handlers to the `document` in order to handle later added elements.

[2017-02-10 11:52] quantix-studio commented on #102
hi @thednp and thanks for the reactivity !

I'm using bsn's v4 dist on a vuejs project and am confronted to that issue too.

I'm trying to figure out if bsn will do the job in time, so here are my questions :
have you an idea of the `customElement` availability delay ?
is a modular (requirable) version in project ?
can my team and I help in the reflexion ?

Big thank again for your efforts and rea

[2017-02-10 14:15] thednp commented on #102
@quantix-studio please read this https://github.com/thednp/bootstrap.native/issues/102#issuecomment-273203567

and all @Jeff17Robbins messages

[2017-02-10 14:26] dgt41 commented on #102
@quantix-studio if you are using vue then why not use https://yuche.github.io/vue-strap/ ?

[2017-02-10 14:36] quantix-studio commented on #102
@dgt41 no support for vuejs2 AND twbs4 at the moment :(

[2017-02-10 20:51] gplume commented on #102
Same use case than @quantix-studio but I've found, reading BSN code, that it's quite easy to reproduce the same behaviors with the framework itself, I use vuejs2 and angular2. The only thing I didn't found is the ability to close a dropdown clicking outside the item...
We have to rewrite all transitions effects (tabs fade or modal slide) though and it can be a lot to do but soon you prepare all yo

[2017-02-10 21:04] thednp commented on #102
This is incorrect, check the demo http://thednp.github.io/bootstrap.native/#dropdownExamples

[2017-02-10 22:46] gplume commented on #102
I meant that by not using this library but just vuejs or angular2.
Your demo and general behavior is fine.

[2017-02-11 13:41] quantix-studio commented on #102
Hi @gplume. Yes indeed, quite a lot of work. Would you mind sharing your generic code ? I'd be so grateful __quantix.studio@gm@il.com__

[2017-02-12 00:33] gplume commented on #102
@quantix-studio : Perhaps it is way beyond the topic here but here's a small example for a dropdown which doesn't include the click outside behavior but it's easy to add but slightly too overwhelming (like a `@click="opened = false"` on the largest div of the template, but why not if it's not too crowded in the DOM)
vuejs (*.vue) example:
[code]
This way you can also directly manage the persistent

[2017-02-13 06:31] KuroThing opened #114 "Dropdown clickHandlerTypeError"
When you click the the `body` element, [this line of code](https://github.com/thednp/bootstrap.native/blob/master/lib/V4/dropdown-native.js#L30) produces this error: `TypeError: eventTarget[parentNode][getAttribute] is not a function`

Tested on v2.0.3 and v2.0.4 (Commit: cf981a6)

A (imo) dirty hack i found to solve this would be to do something like `typeof eventTarget[parentNode] === HTMLDocume

[2017-02-13 12:01] thednp commented on #114
Cannot reproduce. Do you have a screenshot?

[2017-02-13 12:40] KuroThing commented on #114
Using the [Fixed Navbar Example](https://v4-alpha.getbootstrap.com/examples/navbar-top-fixed/) for the v4 version of bootstrap, if you _had_ a dropdown on that page and clicked under the `div.container` element, it would be clicking the `body` element directly. This is what re-produces the error.

The requested image with the area i'm talking about highlighted in a thin red border w/ some text in

[2017-02-13 13:03] thednp commented on #114
No. The script won't initialize if you inject it on the Bootstrap demo pages on the fly, you need to have it there when the DOM is parsed.
![bsn-dropdown-working-properly](https://cloud.githubusercontent.com/assets/6761246/22884407/710965c0-f1fd-11e6-8337-b09103cdadf2.png)

[2017-02-13 13:13] KuroThing commented on #114
I was providing an example using the bootstrap documentation, of course locally i'm including the script straight away, but rather then trying to giving you the segmented parts of my layout i figured using one of the examples from the bootstrap documentation.

If you click on the area below the `div.container` you'll get a TypeError. Modifying the v4 javascript file in dist to output `eventTarget[

[2017-02-13 13:50] djforth commented on #107
Yes sorry been caught up on projects!  Did test on Chrome & FF and all good

[2017-02-13 14:10] thednp commented on #114
Please download latest master and test. Thank you.

[2017-02-13 14:10] #114 closed

[2017-02-13 15:19] thednp commented on #114
@KuroThing all good?

[2017-02-13 23:51] rafaph commented on #114
Same here, using the master version solved the problem. Thanks guys!

[2017-02-16 18:41] chenull opened #115 "Collapse component on Demo page will stop to functioning after several clicks using chrome"
In chrome Version 56.0.2924.87 (64-bit), the [Collapse Component on demo page](http://thednp.github.io/bootstrap.native/#collapseExamples) will stop functioning after some number of clicks. sometimes a few clicks, sometimes a lot. The corresponding JS log `The show/hidden.bs.collapse event fired` is stopped too. After i cloned this repo and checkout to `gh-pages`, and trying to reverting/bisect co

[2017-02-16 18:53] thednp commented on #115
Does this happen after the last commit? https://github.com/thednp/bootstrap.native/commit/0e7aa35543298461119c2899f049284bb9d7844d

[2017-02-16 19:43] thednp commented on #115
@chenull ?

[2017-02-16 22:44] mathieuleclaire commented on #102
Hi,
sorry for intervening late in the discussion but it seems I have a problem linked to this thread with the use of popovers. I instanciate some popovers late -dynamically- in the DOM and they does not appear (the ones set at the DOM construction work fine). I tried with the 2.0.5 version for bootstrap 3.

Is it an expected behaviour ?
Thanks

[2017-02-16 22:59] thednp commented on #102
@mathieuleclaire this is my last reply TO YOU on this regard: our library here is not jQuery powered and doesn't initialize on the fly for later added objects. In this thread I am asking other developers for a better approach (better than original jQuery plugins for Bootstrap), as we haven't implemented anything here yet, we are still at the research phase.

[2017-02-17 01:25] chenull commented on #115
Hi, i git pulled the last commit, fire up simple http server, do the clicks from chrome, and whenever the collapse stop working, i copy-pasted logs from JS console and here the result:

[code]

so yes, it still happen, though it takes longer to be happen than my first time i visit your demo page. only happen twice with 3 clicks. it was happen quicker before.

[2017-02-17 02:03] thednp commented on #115
Cannot reproduce, the demo works properly for me, but I suspect why it happens on your end.

[2017-02-17 04:54] chenull commented on #115
yeah, me too, it's hard to reproduce after your last commit. but i managed to create a gif animation when this happen

![raisoclick-export](https://cloud.githubusercontent.com/assets/1737556/23052857/458833e2-f507-11e6-8f0e-2c5b76029892.gif)

https://cloud.githubusercontent.com/assets/1737556/23052857/458833e2-f507-11e6-8f0e-2c5b76029892.gif

[2017-02-17 05:48] chenull commented on #115
oh.. one more thing to note that, when it stopped working. the current collapsed item (the lorem ipsum text) is **always** in hidden condition. then next click, which should be the `show` event, is not happening.

[2017-02-17 11:12] thednp commented on #115
@chenull please confirm this test for the tabs example, it involves a similar isssue I hope I fixed.

[2017-02-17 12:16] thednp commented on #115
@chenull are you in Linux? On my Windows 8.1 with Google Chrome, Firefox and IE10 everything works perfect, I am now typing from Ubuntu, and I confirm the issue persists.

I believe this must be related to the fact that Linux is a bit slower executing some nested `setTimeout` functions and it gets stuck somewhere, but I am now working with Linux and working on a fix to make it full proof.

[2017-02-17 13:03] thednp commented on #115
I think I fixed the issue, I will do some tests in Windows with IE10 and commit asap.

[2017-02-17 14:58] thednp commented on #115
@chenull
Please test the latest commit ASAP. I will release a new tag once you confirm the issues to be fixed.

[2017-02-17 19:51] chenull commented on #115
@thednp yeah it fixed 👍 i am on a mac though, not linux

[2017-02-17 20:09] thednp commented on #115
Same for me.. OK thanks for the confirm.

[2017-02-17 20:09] #115 closed

[2017-02-18 16:51] thinkpozzitive opened #116 "Cannot build using the latest source code"
I'm getting the following error whenever I'm trying to run the `node build.js` command for bootstrap 3:
[code]
Am I missing something?

[2017-02-18 16:58] RyanZim commented on #116
Works fine for me, are you passing any arguments to the script?

Also, try `rm -rf node_modules && npm install`.

[2017-02-18 18:17] thednp commented on #116
I cannot confirm @thinkpozzitive 's issue, but I trust @RyanZim to be accurate with his comments.

[2017-02-18 18:35] RyanZim commented on #116
Sorry, haven't tested it much yet.

[2017-02-18 21:24] dgt41 commented on #116
@thednp you need to add MS and opera:
[code]
Also the `aria-expanded` on the first panel of the accordion doesn't change state

[2017-02-18 21:59] thednp commented on #116
@dgt41 as of 2016 the only events needed are `transitionend webkitTransitionEnd`, [details](https://www.w3schools.com/jsref/event_transitionend.asp), and yes I know [the Bootstrap CSS](https://github.com/twbs/bootstrap/blob/v3-dev/dist/css/bootstrap.css#L5881-L5884) and BS4 still uses `o-transition` for BS3, but I don't see why `MSTransitionEnd`.

About the `aria-expanded` I will look into it.

[2017-02-20 18:28] thinkpozzitive commented on #116
@RyanZim npm install fixed the issue. I was missing a  module.

Thanks.

[2017-02-20 18:54] #116 closed

[2017-02-26 11:54] dgt41 commented on #102
@thednp check my approach for v4: https://dgt41.github.io/bs4-custom-elements/

[2017-02-26 13:04] thednp commented on #102
I was about to ask if anyone has done anything on this, so yea, lookin good.

[2017-02-26 15:15] Jeff17Robbins commented on #102
Nice work @dgt41

[2017-03-03 16:53] malcocerGit opened #117 "Access to pause function"
There is a way to access to pause function? I'm trying to stop the carousel when a event is fire, but I can't stoped, the carousel is still ride.

Regards.

[2017-03-03 17:07] thednp commented on #117
You can hook into the `slid.bs.carousel` and check if the carousel element has the `paused` class, it should do what you need in that specific case.

[2017-03-03 17:07] #117 closed

[2017-03-03 20:22] malcocerGit commented on #117
Thanks for you answer, I added `paused` class, but when you add the class the timeOut to go to next slide is ready, the slide is paused but in the next slide not the first.

[2017-03-03 20:40] thednp commented on #117
You mean you want to disable auto slide?

[2017-03-03 20:42] malcocerGit commented on #117
Yes, but on demand not on hover, it's possible?

[2017-03-03 21:18] thednp commented on #117
Then try to add the `paused` class with the `slide.bs.carousel` event.

[2017-03-03 22:31] malcocerGit commented on #117
It works but on the next slide, not the slide where I clicked

`var carousel = document.getElementById("Carousel");
carousel.addEventListener('click', function(){
	carousel.addEventListener('slide.bs.carousel', function(){
		carousel.classList.add('paused');
	});	});`

[2017-03-03 23:02] thednp commented on #117
[code]

[2017-03-08 16:41] trsh opened #118 "Manual trigger for collapse is bugous"
[code]

With this I will get "ypeError: Cannot read property 'preventDefault' of undefined"

Also when clicking on some Navbar collapase link item, also toggle is fired, and I get error on this line `if (!hasClass(collapse,inClass)) { self.show(); }`, as "collapse" variable is undefined.

[2017-03-08 16:48] trsh commented on #118
Ouh, or just do

[code]

and also error on `if (!hasClass(collapse,inClass)) { self.show(); }`, as "collapse" variable is undefined.

[2017-03-08 17:14] trsh commented on #118
My mistake! :(

[2017-03-08 17:14] #118 closed

[2017-03-17 08:30] world33 opened #119 "SCRIPT5022: Bootstrap's JavaScript requires jQuery"
Hi,

When using the Chrome or IE developer console I get the following error message:

SCRIPT5022: Bootstrap's JavaScript requires jQuery

Can I just ignore this error/warning when using bootstrap.native ?

Thanks

[2017-03-17 10:53] world33 opened #120 "drop down menu in internet explorer 11 not working"
The drop down menu when using IE11 does not seem to be working. In chrome it works.
Test page (top navigation menu): http://www.4icu.org/index2.htm

[2017-03-17 10:56] world33 commented on #120
Also is it possible to add async in the script tags just before the </body> tag?
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.6/bootstrap-native.min.js" **async**></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" **async**></script>

[2017-03-17 11:30] RyanZim commented on #119
@world33 You must be including bootstrap's JS in your HTML. Remove that, and only include bootstrap native. That should fix your issue.

[2017-03-17 13:01] thednp commented on #120
You need to read the doc/demo page regarding browser support regarding using the polyfill.

[2017-03-17 13:01] #120 closed

[2017-03-17 13:02] #119 closed

[2017-03-17 13:23] world33 commented on #120
Thanks.
 I meant the closing body tag. The question was focusing on the async addition to the tag.
Would adding async cause any problem?

[2017-03-17 14:27] thednp commented on #120
Try and let us know, I haven't tested this in particular.

[2017-03-21 17:56] mgrixti opened #122 "Accordion - "collapsed" Class not added to the toggle link when opening a different Panel."
Using Version: 2.0.7 (Bootstrap 3)

When there is an open panel and you click a different panel's toggle link, it will close the open panel but it does not add the "collapsed" class to the toggle link. When you click the toggle link of the current open panel it does add the collapsed class to the toggle link.

The official Bootstrap Collapse/Accordion does add the "collapsed" class when clicking a

[2017-03-21 19:27] thednp commented on #122
I'll have a look into it asap. Thanks

[2017-03-21 20:44] #122 closed

[2017-03-21 20:44] thednp commented on #122
@mgrixti Please test latest master and let me know how it goes.

[2017-03-21 20:51] mgrixti commented on #122
@thednp That fixed it. Thanks for fixing it so quickly.

[2017-04-11 21:42] adibbz opened #125 ".modal-open class not removed when closing modal quickly"
I have multiple modals on a page and whenever I open one and close it quickly by either the `.close` button or clicking outside the modal the `.modal-open` class does not get removed from the `body` preventing me form scrolling my page.

I've also added `data-backdrop="static"` to the modal so it can only be dismissed by the `.close` button but this also is not removing the `.modal-open` class. It

[2017-04-11 22:36] thednp commented on #125
Thanks for the find, will look into it asap.

[2017-04-12 08:47] thednp commented on #125
@adibbz ?

[2017-04-12 14:31] adibbz commented on #125
@thednp Do you have a email or way to contact you privately? Don't want to share dev link publicly.

[2017-04-12 14:33] thednp commented on #125
dnp.digital @ gmail.com

[2017-04-12 17:55] thednp commented on #125
@adibbz the `fade` class is now optional for Modal, working as expected. Will also implement this feature for Alert, Tab, Tooltip and Popover components. Both V3 and V4.

[2017-04-13 01:16] adibbz commented on #125
@thednp so were you able to build and push this up today?

[2017-04-13 01:31] thednp commented on #125
I am almost there, this got me to a point I found some new unresolved cases, incredibly, with the tabs...

[2017-04-14 13:34] Aspie96 commented on #102
Just in case someone wants to check it out too:

https://github.com/Aspie96/bootstrap.native.dynamic

It's in no way intended to be better than bootstrap.native or antyhing like that.
I am just sharing it just in case someone wants to check it out.

[2017-04-14 13:35] Aspie96 commented on #62
Just in case someone wants to check it out too:

https://github.com/Aspie96/bootstrap.native.dynamic

[2017-04-14 15:08] thednp commented on #102
Thanks for the heads up @Aspie96

[2017-04-18 23:34] tgBryanBailes opened #126 "Collapsible Accordion Bug"
I was receiving an error when using a Collapsible Accordion where the collapsible item had a data-target instead of an href.

Line 95 of V4/collapse.native.js reads as follows:
`correspondingCollapse = allToggles[u][getAttribute][dataTarget] || allToggles[u].href;`

Since getAttribute is a function, not an object, it should read as follows:
`correspondingCollapse = allToggles[u][getAttribute](data

[2017-04-19 00:44] thednp commented on #126
Thanks for the report.

[2017-04-19 13:07] thednp commented on #125
@adibbz please download latest master and do some testing.

[2017-04-19 13:07] thednp commented on #126
@tgBryanBailes please download latest master and do some testing.

[2017-04-19 14:28] adibbz commented on #125
@thednp Removing fade class resolved the body scroll issue. Thank you!

[2017-04-19 14:31] thednp commented on #125
Also make sure to test the other components I mentioned, they've been changed to support this functionality.

[2017-04-19 16:42] tgBryanBailes commented on #126
The issue is resolved with the latest bootstrap-native-v4.js. Thank you so much!

[2017-04-19 16:42] #126 closed

[2017-04-19 16:47] mathieuleclaire commented on #62
@Aspie96 You're lib is really cool, thanks ! I had typically the problem of generating tabs dynamically and I did find any options to run them properly at runtime. This work properly without any modification of my code.

[2017-04-19 16:53] thednp commented on #126
NO. I thank you !!

[2017-04-19 17:04] Aspie96 commented on #62
Thank you, mate!

As for the reasons NOT to use my library, read this:
https://github.com/thednp/bootstrap.native/issues/102#issuecomment-274920136

I am not suggesting that you should not use it, of course (I shared it precisely so that you could use it), but I am saying that you should check that out first.

[2017-04-19 17:10] mathieuleclaire commented on #62
What do you mean, it renders the page slower ?

[2017-04-19 17:15] thednp commented on #62
No, but the JavaScript runtime is much slower, and gets even slower the more elements you append to the document, a quick info on that [here](http://stackoverflow.com/questions/6576853/jquery-delegate-performance-on-the-click-event-on-large-lists-slows-down-if-yo) (I hope I didn't missclick the link)

[2017-04-19 17:49] Aspie96 commented on #62
Still, I am using my version on my own website and it works perfectly (and, of course, many many people use jQuery or other libraries), so it might be a completely fine solution from what you wanna do.

[2017-04-20 11:55] nenad007 opened #127 "how to open Navbar dropdown on hover"
What would be the most clean native way to open the Navbar dropdown on hover?
The main Navbar Item (dropdown-toggle) should be a Link too.

[2017-04-20 12:18] thednp commented on #127
You could use my navbar.js

[2017-04-21 14:04] #125 closed

[2017-05-01 12:56] fBosch opened #128 "Add option to import individual components"
It would be great to be able to do this:

[code]

To help keep down bundle sizes.

[2017-05-01 13:09] RyanZim commented on #128
@fBosch You'll have to make a custom build to do this https://github.com/thednp/bootstrap.native#custom-builds

[2017-05-02 16:41] #128 closed

[2017-05-06 11:51] cabalopolis opened #129 "Documentation - V4 NPM instructions"
http://thednp.github.io/bootstrap.native/v4.html

In the quick guide section of the installation instructions for v4, the documentation suggests that people should edit the NPM `package.json` file to include it so the following code would work:

[code]

I believe this is a bad practice as this means that each contributor would have to do this every time they work on their project. Might I suggest

[2017-05-06 11:54] thednp commented on #129
Thanks for the tip, I didn't know this is possible.

[2017-05-06 12:02] #129 closed

[2017-05-09 16:33] MichaelLSmith opened #130 "react usage?"
Less an issue, but a question: Is it possible to use this with react?

[2017-05-09 16:39] thednp commented on #130
I don't know, have you tried?

[2017-05-09 16:52] RyanZim commented on #130
@MichaelLSmith You're going to have nothing but pain using this with react. bootstrap.native uses the browser DOM, which is going to wreck havoc with React's virtual DOM. In short: Don't do it!

[2017-05-09 18:02] thednp commented on #130
@RyanZim what would you suggest to solve this?

[2017-05-09 18:31] RyanZim commented on #130
@thednp React is a whole different way of doing things. React support is out of scope for bootstrap.native. It would require a completely separate codebase. I vote to close.

[2017-05-09 18:33] #130 closed

[2017-05-16 18:00] rodolfojnn opened #131 "Dropdown does not open with DATA API markup - Boostrap v4"
On Bootstrap v4, dropdown only works via JavaScript

https://jsfiddle.net/t4t9Laqs/

[2017-05-16 18:13] rodolfojnn opened #132 "Support for multiple modals - BS4"
Hey guys, there are plans for multiple modal support without closing the previously opened modal? The

https://github.com/thednp/bootstrap.native/blob/master/lib/V4/modal-native.js#L188

The overlay could be maintained until the last modal was closed.

This would be useful for maintaining the state of previous modals. Currently the state is lost when the modal closes.

[2017-05-16 18:22] thednp commented on #131
Copy from docs:

jsfiddle links all scripts into the `<head>`

[2017-05-16 18:22] #131 closed

[2017-05-16 18:28] thednp commented on #132
No plans for now. Sorry.

[2017-05-16 18:28] #132 closed

[2017-05-22 10:28] nlemoine commented on #128
@RyanZim I'm also interested in consuming individual BS components.

Custom builds provide a way to handle this but it's not very handy. You need to clone the project, copy the built file to your working directory. And you can't rely on npm/yarn to handle updates.

Any plans to move BS native to real modules?

[2017-05-25 19:08] inspiredbytes opened #133 "Add unit tests to verify equal functionality"
It would make me feel a lot more comfortable with this if there were a way to verify equal functionality with the minor bits of funcionality.

Should pass the same unit tests (minus any jquery specific things) as Bootstrap.
https://github.com/twbs/bootstrap/tree/v4-dev/js/tests/unit

[2017-05-25 19:11] thednp commented on #133
Feel free to contribute, I personally don't have the experience/time to code the tests.

[2017-05-25 19:11] #133 closed

[2017-06-01 16:25] umarrg97 opened #134 "Bootstrap native swipe?"
im trying to add a swipe functionality to the carousel for bs native. any pointers? im running into an indexing issue where my swipe doesnt work till after a slide has passed automatically. here is my code.
[code]

[2017-06-01 20:16] thednp commented on #134
I am considering including such a feature with future version, but will be an own development. Feel free to fork and use your own code as you please, for now, we will pass.

[2017-06-01 20:16] #134 closed

[2017-06-12 20:52] armandofreire opened #135 "Dynamic dropdown react"
Hi guys,

I'm developing an app with a Menu that renders a list of items and these items are also dropdowns. Like an hierarchic dropdown which goes opening ahead until the user finds the option he wants.

I'm currently using react for that and after the `[].map`, when I render the siblings, I try to apply them the `new Dropdown(el, { persist : true }) `, which will make them a persistable dropdown

[2017-06-12 21:04] thednp commented on #135
Make a demo on codepen so I can have a look.

[2017-06-13 08:17] thednp commented on #135
Hey there please try to use the latest version from github and confirm if this works now.

Thanks

[2017-06-13 08:17] #135 closed

[2017-06-13 13:32] armandofreire commented on #135
Hey there, I updated the version I'm using with the latest from github, but still cant get it to work.  :(

The problem occurs only if I dynamically add a nested dropdown! I think that if you use any lib you'll be able to reproduce the problem. In any case I can still post a similar version on CodePen!

[2017-06-13 17:13] thednp commented on #135
The nesting works as far as I am concerned with the last BSN version, I think the problem is here:
https://github.com/thednp/bootstrap.native/blob/master/dist/bootstrap-native.js#L945

It stores an array of items instead of a LIVE HTMLCollection and thus a parent dropdown cannot count newly added and initialized child dropdown items.

I am open to any code suggestion you might have.

[2017-06-13 17:30] armandofreire commented on #135
I can't tell much about the BSN core but isn't there a way for me to call the new Dropdown method for an element and BSN recursively check the children elements to recreate the hierarchic tree? I mean, by that, I could always add/remove items to the parent menu and request BSN to recreate the dropdown tree in order to make hierarchy work again. I'm not sure if that's how BSN works but afaik, for t

[2017-06-13 17:55] thednp commented on #135
No there isn't. For this kind of purpose you need to work on a fork to do your specific work.

[2017-06-13 18:11] thednp commented on #135
I'll look into this and provide a workaround ok?

[2017-06-13 18:46] thednp commented on #135
@armandofreire check this out and let me know if this works for you.

https://codepen.io/thednp/pen/pwbmyX

[2017-06-13 18:52] thednp commented on #135
Changes are now committed to GH.

[2017-06-13 19:01] thednp commented on #135
I pasted the entire BSN code to the JS textarea, the codebase updated to GH some minutes ago.

It should go endlessly.

[2017-06-13 19:03] armandofreire commented on #135
Nice! Is it going to generate a new version? Like 2.0.12 or you're going to wait for another fix to release a new build? :-)

[2017-06-13 19:06] thednp commented on #135
I don't find this improvement to be crucial to the majority of the users, I will wait another week or so, perhaps more issues/improvements pop, I just released 2.0.11 yesterday.

The version will be indeed 2.0.12, as I also updated the package.json.

[2017-06-14 12:59] mirzal opened #136 "Navbar data-target accepts only selectors starting with id (broken compatibility with upstream Bootstrap JS)"
Bootstrap.native Collapse data API requires `data-target` attribute value to start with `#` (i.e. selector to start with id), whereas upstream bootstrap JavaScript will accept any valid selector. As a result, some pages that do work with bootstrap JS will not work correctly with bootstrap.native JS.

## Steps to reproduce

1. Open [upstream bootstrap JSFiddle example](https://jsfiddle.net/fhod0Lnb

[2017-06-14 13:20] thednp commented on #136
Initially the script was also doing class selectors, but due to code optimizations and improvements, that functionality didn't work anymore, and I think original Bootstrap plugins also dropped everything in favor for the ID. It's a much better trade in all cases.

[2017-06-15 10:48] thednp commented on #136
So yea, the [Bootstrap demo](http://getbootstrap.com/) uses `data-target="#bs-navbar"` for the Navbar, while the code actually does jQuery selector `$(target)`, but a non-ID selector for Navbar is highly not recommended, for performance, consistency and other considerations.

As an example, if you have 2 navbars in the same parent wrapper how are you going to distinguish the two, with a specific c

[2017-06-15 10:48] #136 closed

[2017-06-22 13:39] umarrg97 opened #137 "collapse on mobile only"
Hi im currently in need of some in depth of knowledge of bootstrap native. im in need of my collapse to always be open on desktop. When it gets to mobile i can open and collapse. the next bit ive been struggling with...regardless of what state the collapse is in on mobile when i resize to desktop it should be open again. ive read the docs on the collapse but not sure what to do? any pointers

[2017-06-22 13:57] thednp commented on #137
Our library here no nothing different than the original in terms of JavaScript functionality.

I would advise to use the specific classes utility `visible-mobile` and so on.

[2017-06-22 13:57] #137 closed

[2017-06-23 10:46] chenjau commented on #115
After testing with hundreds of click,  [demo page](http://thednp.github.io/bootstrap.native/#collapseExamples)  I think this bug still exist in firefox.

[2017-06-23 11:19] chenjau opened #138 "Collapse component on Demo page stop working in Firefox"
Version: Latest commit 7527d1d
Browser: Firefox 54, 56a1
Behave like #115.

After testing with hundreds of click HREF and data-target button on  [demo page](http://thednp.github.io/bootstrap.native/#collapseExamples), I think this bug still exist in firefox.

[2017-06-23 11:54] thednp commented on #138
I think it's a problem with Firefox itself, but who in the right mind would click the collapse a hundred times?

[2017-06-23 12:20] chenjau commented on #138
Hi, not hundreds click to make one happen, sometime just several clicks,  seems randomly.  and, if a page has multiple collapse menus in it, make it much easier to happen.

[2017-06-23 12:41] chenjau commented on #138
Can't reproduce in codepen.io, don't know why, I'll update if I find anything.
Thanks.

[2017-06-23 12:41] #138 closed

[2017-06-29 00:52] yurimdh commented on #114
I'm still having this error. It can be reproduced doing what @KuroThing said above: in your own documentation (http://thednp.github.io/bootstrap.native), add an absurd height property to the body element, and scroll to the bottom of the page. Open the dev console and go to the inspect area, insure you are over the body element and click a few times. You'll get the error.

[2017-06-29 06:33] thednp commented on #114
OK now, please check the latest master, if we come clean, we publish the new version to the clouds right after.

[2017-06-29 10:07] isiahmeadows opened #139 "Unnecessary IIFEs pervasive in v4 implementation"
I was just looking at the source out of curiosity, and found a lot of seemingly unnecessary IIFEs in the collapse ([1](https://github.com/thednp/bootstrap.native/blob/master/lib/V4/collapse-native.js#L34), [2](https://github.com/thednp/bootstrap.native/blob/master/lib/V4/collapse-native.js#L53)) and tab ([1](https://github.com/thednp/bootstrap.native/blob/master/lib/V4/tab-native.js#L35), [2](http

[2017-06-29 10:44] thednp commented on #139
The method is used because there is no cross-browser `setImmediate` method, and that fixes [something](https://github.com/thednp/bootstrap.native/issues/115) reported over and over.

[2017-06-29 15:35] isiahmeadows commented on #139
@thednp I'm not referring to the `setTimeout` calls, but the plain IIFEs themselves, things like this:

[code]

As for that bug fix, all you really did beyond adding the unnecessary IIFEs was move code into `setTimeout` callbacks and increasing their delay.

As for backwards compatibility, just inlining their bodies *should* have zero impact, even as far back as Netscape. Any differences would be

[2017-06-29 15:40] thednp commented on #139
@isiahmeadows as I said, I am open to any code suggestion, I really tried them all I know.

[2017-06-29 15:48] isiahmeadows commented on #139
@thednp Check out #140. That should explain what I mean (it's also a nicely packaged PR).

[2017-06-29 15:50] thednp commented on #139
Wowow, wait a sec and [check this](https://github.com/thednp/bootstrap.native/issues/115) first before committing.

Have you tested multiple clicks and it works perfect? I've spent about 2 days working to fix that issue, you think that would simplify and solve the issue for good?

[2017-06-29 16:05] isiahmeadows commented on #139
It's equivalent to what's already there, and I have tested it to verify it does not break.

[2017-06-29 16:17] thednp commented on #139
I am now testing your code in all browsers. It seems to work, but I don't know...

[2017-06-29 16:22] isiahmeadows commented on #139
In case you're curious (I can tell you're not super familiar with the difference), [here's the Wikipedia article on the idiom](https://en.wikipedia.org/wiki/Immediately-invoked_function_expression).

[2017-06-29 16:29] thednp commented on #139
OK. I remember now. FYI: I am not targeting G Chrome only, I am interested in IE8+ for BSN V3 and IE10+ for BSN V4. I also have a very old Safari for Windows....

So, you know why those IIFEs are used? It's because the API on `event.transitionEnd` is poorly implemented in many browsers and it always messes up... sometimes things that need to happen when the animation ends, never happen, or the eve

[2017-06-29 17:44] thednp commented on #139
@chenull I hope you take a look at @isiahmeadows commit as well. Thank you.

[2017-06-29 22:37] AustinBrunkhorst commented on #114
I'm using Aurelia with this library, which makes use of document fragments quite a bit. When a fragment is the parent node, this error occurs.

The latest push to master fixes the issue for me, @thednp. Cheers!

[2017-06-30 22:52] isiahmeadows commented on #139
@thednp IIFE's are just a lanugage idiom, unique to JS the language, without respect to the environment. They do literally nothing apart from creating a new scope for `var` variables.

[2017-07-02 15:53] thednp commented on #139
@isiahmeadows I will certainly do a mega test with your suggestion as soon as I get some time. Thank you.

[2017-07-02 15:53] #139 closed

[2017-07-06 19:19] Azeranex opened #143 "Dropdown won't stay open when click any input in dropdown"
There is a problem when you click any input (login form in this case). Dropdown just closed. I'm using latest pull version from git.

[2017-07-06 19:27] thednp commented on #143
You sure checked the documentation on how to use the feature?

[2017-07-06 19:46] #143 closed

[2017-07-06 19:47] Azeranex commented on #143
Oop sry, bootstrap v4

[2017-07-06 19:47] thednp commented on #143
BSN for V3 and V4 have same functionality.

[2017-07-06 19:50] Azeranex commented on #143
2.0.12

[2017-07-06 19:52] thednp commented on #143
http://thednp.github.io/bootstrap.native/#dropdownOptions

[2017-07-08 23:16] kochizufan opened #144 "[Questions] How to make each tab enabled/disabled"
Hi, thanks for nice library.

I use tab function like this:

This works well (Tab C is disabled).
But if I want to change enabled/disabled by JavaScript, it doesn't work.

* Even if I make tab_b with adding disabled from &lt;li> and removing data-toggle from &lt;a>, it still works.
* Even if I make tab_c with removing disabled from &lt;li> and adding data-toggle to &lt;a>, it still doesn't work.

[2017-07-08 23:40] kochizufan commented on #144
Hi

I found the solution by myself.

Just adding

Then it works well.

[2017-07-09 08:45] thednp commented on #144
@kochizufan my friend, the `disabled` toggling has nothing to do with the `Tab` component of the library or the original plugin, it's something of a custom work, but I'm glad you figured a solution.

[2017-07-09 08:45] #144 closed